    <div class="padding">
      <fieldset id="" class="">
        <legend>{{ _('ARP Table') }}</legend>
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#arp-ipv4_dynamic" data-toggle="tab">{{ _("IPv4 Dynamic Entries") }}</a>
          </li><li>
            <a href="#arp-ipv4_static" data-toggle="tab">{{ _("IPv4 Fixed Entries") }}</a>
          </li><li>
            <a href="#arp-ipv6_dynamic" data-toggle="tab">{{ _("IPv6 Neighbor Table Dynamic Entries") }}</a>
          </li><li>
            <a href="#arp-ipv6_static" data-toggle="tab">{{ _("IPv6 Neighbor Table Fixed Entries") }}</a>
          </li>
        </ul>
      </fieldset>
    </div>

    <div class="tab-content SystemArpTable">
    <% _.each(items, function(v, k) { %>
      <% if("ipv4_dynamic" === k) { %>
        <div id="arp-<%= k %>" class="tab-pane active">
      <% } else { %>
        <div id="arp-<%= k %>" class="tab-pane">
      <% } %>
        <table class="table table-bordered table-hover">
          <tr>
            <th>{{ _("Interface") }}</th>
          <% if("ipv4" === v.protocol ) { %>
            <th>{{ _("IPv4 Address") }}</th>
          <% } else { %>
            <th>{{ _("IPv6 Address") }}</th>
          <% } %>
            <th>{{ _("MAC Address") }}</th>
          <% if("static" === v.type) { %>
            <td>
              <a href="#" class="btn btnArpAdd" opt="<%= v["protocol"] %>" chk="<%= k %>">{{ _("Add") }}</a>
            </td>
          <% } else { %>
            <td>
              <span>{{ _("Fix") }}</span>
            </td>
          <% } %>
          </tr>
        <% _.each(v, function(vv, kk) { %>
          <tr>
          <% if("static" === v.type) { %>
            <td>
              <div class="input-prepend">
                <span class="add-on"><i class="icon-screenshot"></i></span>
                <select name="<%= k %>-interface" opt="interface">
                <% _.each(nic, function(av, ak) { %>
                  <option value="<%= av %>" <% if(vv["interface"] == av) { %>selected="selected"<% } %>><%= av %></option>
                <% }); %>
                </select>
              </div>
            </td>
            <td>
              <div class="input-prepend">
                <span class="add-on"><i class="icon-book"></i></span>
                <input type="text" name="<%= k %>-ip" value="<%= vv.ip %>" class="span2" opt="ip" placeholder="<% if("ipv4" === v.protocol) { %>{{ _("IPv4 Address") }}<% } else { %>{{ _("IPv6 Address") }}<% } %>" />
              </div>
            </td>
            <td>
              <div class="input-prepend">
                <span class="add-on"><i class="icon-bookmark"></i></span>
                <input type="text" name="<%= k %>-mac" value="<%= vv.mac %>" class="span2" opt="mac" placeholder="{{ _("MAC Address") }}" />
              </div>
            </td>
            <td>
              <a href="#" class="btn btnArpDel">{{ _("Delete") }}</a>
            </td>
          <% } else { %>
            <td>
              <span><%= vv.interface %></span>
            </td>
            <td>
              <span><%= vv.ip %></span>
            </td>
            <td>
              <span><%= vv.mac %></span>
            </td>
            <td>
              <input type="checkbox" name="<%= k %>-fix" value="fix"<% if("True" == vv.fix) { %> checked="checked"<% } %> />
              <input type="hidden" name="<%= k %>-interface" value="<%= vv.interface %>" />
              <input type="hidden" name="<%= k %>-ip" value="<%= vv.ip %>" />
              <input type="hidden" name="<%= k %>-mac" value="<%= vv.mac %>" />
            </td>
          <% } %>
          </tr>
        <% }); %>
        </table>
      </div>
  <% }); %>
    </div>

    <div class="newSysArpTable inactive">
      <table>
        <tbody class="newArpTable" opt="ipv4">
          <tr>
            <td>
              <div class="input-prepend">
                <span class="add-on"><i class="icon-screenshot"></i></span>
                <select opt="interface">
                <% _.each(nic, function(av, ak) { %>
                  <option value="<%= av %>"><%= av %></option>
                <% }); %>
                </select>
              </div>
            </td>
            <td>
              <div class="input-prepend">
                <span class="add-on"><i class="icon-book"></i></span>
                <input type="text" class="span2" opt="ip" placeholder="{{ _("IPv4 Address") }}" />
              </div>
            </td>
            <td>
              <div class="input-prepend">
                <span class="add-on"><i class="icon-bookmark"></i></span>
                <input type="text" class="span2" opt="mac" placeholder="{{ _("MAC Address") }}" />
              </div>
            </td>
            <td>
              <a href="#" class="btn btnArpDel">{{ _("Delete") }}</a>
            </td>
          </tr>
        </tbody>
        <tbody class="newArpTable" opt="ipv6">
          <tr>
            <td>
              <div class="input-prepend">
                <span class="add-on"><i class="icon-screenshot"></i></span>
                <select opt="interface">
                <% _.each(nic, function(av, ak) { %>
                  <option value="<%= av %>"><%= av %></option>
                <% }); %>
                </select>
              </div>
            </td>
            <td>
              <div class="input-prepend">
                <span class="add-on"><i class="icon-book"></i></span>
                <input type="text" class="span2" opt="ip" placeholder="{{ _("IPv6 Address") }}" />
              </div>
            </td>
            <td>
              <div class="input-prepend">
                <span class="add-on"><i class="icon-bookmark"></i></span>
                <input type="text" class="span2" opt="mac" placeholder="{{ _("MAC Address") }}" />
              </div>
            </td>
            <td>
              <a href="#" class="btn btnArpDel">{{ _("Delete") }}</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
