  <div class="SystemBridge padding">
    <fieldset id="" class="">
      <legend>{{ _('Bridge') }}</legend>
      <table class="table table-bordered table-hover">
        <tr>
          <th>{{ _("Name") }}</th>
          <th>{{ _("Interface") }}</th>
          <td>
            <a href="#" class="btn brAdd">{{ _("Add") }}</a>
            <div class="inactive brBtnTpl btn-group">
              <a href="#" class="btn brDel">{{ _("Delete") }}</a>
              <a href="#" class="btn brEdit">{{ _("Edit") }}</a>
            </div>
          </td>
        </tr>
        <% _.each(br, function(v, k) { %>
        <tr>
          <td class="brName"><%= v.name %></td>
          <td class="brInterface">
          <% _.each(v["interface"], function(av, ak) { %>
            <span class="badge badge-info"><i class="icon-screenshot icon-white"></i>&nbsp;<span class="str"><%= av %></span></span>
          <% }); %>
          </td>
          <td>
            <div class="btn-group">
              <a href="#" class="btn brDel" opt="<%= v.name %>">{{ _("Delete") }}</a>
              <a href="#" class="btn brEdit" opt="<%= v.name %>">{{ _("Edit") }}</a>
            </div>
            <input type="hidden" name="STP" value="<%= v.STP %>" />
            <input type="hidden" name="name" value="<%= v.name %>" />
            <input type="hidden" name="hello_time" value="<%= v.hello_time %>" />
            <input type="hidden" name="interface" value="<%= v.interface.join() %>" />
            <input type="hidden" name="max_message_age" value="<%= v.max_message_age %>" />
            <input type="hidden" name="forward_delay" value="<%= v.forward_delay %>" />
          </td>
        </tr>
        <% }); %>
      </table>
    </fieldset>
  </div>

  <div class="editSystemBridge padding inactive control-group">
    <table class="table table-bordered table-hover">
        <tr>
            <th>{{ _("Name") }}</th>
            <td class="text-center">
              <span class="br_name"></span>
              <input type="hidden" name="name" id="br_name" />
            </td>
        </tr>
        <tr>
            <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
            <th colspan="2">{{ _("Interface")}}</th>
        </tr>
        <tr class="addBrInterface">
            <th>{{ _("Name") }}</th>
            <td class="text-center">
              <div class="input-prepend input-append">
                <span class="add-on"><i class="icon-screenshot"></i></span>
                <select class="nicSelect span2"></select>
                <!--a href="#" class="btn btnAddBrInterface">{{ _("Add") }}</a-->
                <a href="#" class="btn btnAddBrInterface"><i class="icon-plus"></i></a>
              </div>
              <span class="inactive brBtnTpl">
                <a href="#" class="btn btnDelBrInterface">{{ _("Delete") }}</a>
                <a href="#" class="btn brDel" opt="">{{ _("Delete") }}</a>
                <a href="#" class="btn brEdit" opt="">{{ _("Edit") }}</a>
                <span class="brEnable">{{ _("Enable") }}</span>
              </span>
            </td>
        </tr>
        <tr>
            <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
            <th colspan="2">{{ _("Attributes") }}</th>
        </tr>
        <tr>
            <td>
              <label class="control-label strong" for="brSTP">{{ _("STP") }}</label>
            </td>
            <td class="text-center">
              <label class="control-label strong" for="brSTP">&nbsp;{{ _("Enable") }}</label>
              <input type="checkbox" name="STP" id="brSTP" class="span2" />
            </td>
        </tr>
        <tr>
            <td>
              <label class="control-label strong" for="br-hello_time">{{ _("Hello Time") }}</label>
            </td>
            <td class="text-center">
              <div class="input-prepend input-append">
                <span class="add-on"><i class="icon-time"></i></span>
                <select name="hello_time" id="br-hello_time" class="span2"></select>
                <span class="add-on">{{ _("sec") }}</span>
              </div>
            </td>
        </tr>
        <tr>
            <td>
              <label class="control-label strong" for="br-max_message_age">{{ _("Max Message Age") }}</label>
            </td>
            <td  class="text-center">
              <div class="input-prepend input-append">
                <span class="add-on"><i class="icon-time"></i></span>
                <select name="max_message_age" id="br-max_message_age" class="span2"></select>
                <span class="add-on">{{ _("sec") }}</span>
              </div>
            </td>
        </tr>
        <tr>
            <td>
              <label class="control-label strong" for="br-forward_delay">{{ _("Forward Delay") }}</label>
            </td>
            <td class="text-center">
              <div class="input-prepend input-append">
                <span class="add-on"><i class="icon-time"></i></span>
                <select name="forward_delay" id="br-forward_delay" class="span2"></select>
                <span class="add-on">{{ _("sec") }}</span>
              </div>
            </td>
        </tr>
    </table>
  </div>

  <div class="newSysBridgeInterface inactive">
    <span class="badge badge-info"><i class="icon-screenshot icon-white"></i>&nbsp;<span class="str"></span></span>
  </div>
