  <div class="svConnect padding">
    <fieldset>
      <legend>{{ _("Connection Limit") }}</legend>
      <input type="hidden" name="connect" value="true" />
      <table class="table table-bordered table-hover">
    <% _.each(items, function(av, ak) { %>
        <tr>
          <td rowspan="2">
            <a href="#" class="btn btnAddConnectLimit" opt="<%= ak %>">{{ _("Add") }}</a>
          </td>
          <th colspan="5">
          <% if("ipv4" === ak) { %>
            <span>{{ _("IPv4") }}</span>
          <% } else { %>
            <span>{{ _("IPv6") }}</span>
          <% } %>
          </th>
        </tr>
        <tr opt="<%= ak %>">
        	<th>
        	  <span>{{ _("Source") }}</span>
        	</th>
        	<th>
            <span>{{ _("Destination") }}</span>
          </th>
          <th>
            <span>{{ _("Protocol") }}</span>
          </th>
          <th>
            <span>{{ _("Rate") }}</span>
          </th>
          <th>
            <span>{{ _("Burst") }}</span>
          </th>
        </tr>
      <% _.each(av, function(v, k) { %>
        <tr>
        	<td>
        	  <a href="#" class="btn btnDelConnectLimit">{{ _("Delete") }}</a>
      	  </td>
        	<td>
        	  <div class="input-prepend input-append">
        	    <span class="add-on"><i class="icon-cog"></i></span>
        	    <input type="text" name="<%= ak %>@@<%= k %>@@source_ip" gnumber="<%= k %>" value="<%= v["source_ip"] %>" class="span2" chk="source_ip" />
        	    <a href="#" class="btn btnConfirm">{{ _("Edit") }}</a>
        	  </div>
        	</td>
        	<td>
            <div class="input-prepend input-append">
              <span class="add-on"><i class="icon-flag"></i></span>
              <input type="text" name="<%= ak %>@@<%= k %>@@destination_ip" gnumber="<%= k %>" value="<%= v["destination_ip"] %>" class="span2" chk="destination_ip" />
              <a href="#" class="btn btnConfirm">{{ _("Edit") }}</a>
            </div>
          </td>
        	<td>
            <div class="input-prepend input-append">
              <span class="add-on"><i class="icon-wrench"></i></span>
              <select name="<%= ak %>@@<%= k %>@@protocol" gnumber="<%= k %>" class="span1" chk="protocol">
                <option value="TCP" <% if("TCP" === v["protocol"]) { %>selected="selected"<% } %>>{{ _("TCP") }}</option>
                <option value="UDP" <% if("UDP" === v["protocol"]) { %>selected="selected"<% } %>>{{ _("UDP") }}</option>
              </select>
              <a href="#" class="btn btnConfirm">{{ _("Edit") }}</a>
            </div>
          </td>
        	<td>
            <div class="input-prepend input-append">
              <span class="add-on"><i class="icon-time"></i></span>
              <input type="number" name="<%= ak %>@@<%= k %>@@limit_rate" gnumber="<%= k %>" value="<%= v["limit_rate"] %>" class="span1" chk="limit_rate" />
              <select name="<%= ak %>@@<%= k %>@@limit_rate_unit" gnumber="<%= k %>" class="span1" chk="limit_rate_unit">
                <option value="day" <% if("day" === v["limit_rate_unit"]) { %>selected="selected"<% } %>>{{ _("Day") }}</option>
                <option value="hour" <% if("hour" === v["limit_rate_unit"]) { %>selected="selected"<% } %>>{{ _("Hour") }}</option>
                <option value="minute" <% if("minute" === v["limit_rate_unit"]) { %>selected="selected"<% } %>>{{ _("Minute") }}</option>
                <option value="second" <% if("second" === v["limit_rate_unit"]) { %>selected="selected"<% } %>>{{ _("Second") }}</option>
              </select>
              <a href="#" class="btn btnConfirm">{{ _("Edit") }}</a>
            </div>
          </td>
        	<td>
            <div class="input-prepend input-append">
              <span class="add-on"><i class="icon-filter"></i></span>
              <input type="number" name="<%= ak %>@@<%= k %>@@limit_burst" gnumber="<%= k %>" value="<%= v["limit_burst"] %>" class="span1" chk="limit_burst" />
              <a href="#" class="btn btnConfirm">{{ _("Edit") }}</a>
            </div>
          </td>
        </tr>
      <% }); %>
    <% }); %>
      </table>
    </fieldset>
  </div>

  <div class="svConnTpl inactive">
    <table>
      <tbody class="newConnect">
        <tr>
          <td>
            <a href="#" class="btn btnDelConnectLimit">{{ _("Delete") }}</a>
          </td>
          <td>
            <div class="input-prepend input-append">
              <span class="add-on"><i class="icon-cog"></i></span>
              <input type="text" class="span2" chk="source_ip" />
              <a href="#" class="btn btnConfirm">{{ _("Edit") }}</a>
            </div>
          </td>
          <td>
            <div class="input-prepend input-append">
              <span class="add-on"><i class="icon-flag"></i></span>
              <input type="text" class="span2" chk="destination_ip" />
              <a href="#" class="btn btnConfirm">{{ _("Edit") }}</a>
            </div>
          </td>
          <td>
            <div class="input-prepend input-append">
              <span class="add-on"><i class="icon-wrench"></i></span>
              <select class="span1" chk="protocol">
                <option value="TCP">{{ _("TCP") }}</option>
                <option value="UDP">{{ _("UDP") }}</option>
              </select>
              <a href="#" class="btn btnConfirm">{{ _("Edit") }}</a>
            </div>
          </td>
          <td>
            <div class="input-prepend input-append">
              <span class="add-on"><i class="icon-time"></i></span>
              <input type="number" class="span1" chk="limit_rate" />
              <select class="span1" chk="limit_rate_unit">
                <option value="day">{{ _("Day") }}</option>
                <option value="hour">{{ _("Hour") }}</option>
                <option value="minute">{{ _("Minute") }}</option>
                <option value="second">{{ _("Second") }}</option>
              </select>
              <a href="#" class="btn btnConfirm">{{ _("Edit") }}</a>
            </div>
          </td>
          <td>
            <div class="input-prepend input-append">
              <span class="add-on"><i class="icon-filter"></i></span>
              <input type="number" class="span1" chk="limit_burst" />
              <a href="#" class="btn btnConfirm">{{ _("Edit") }}</a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>