<div class="SystemDNS padding control-group">
  <fieldset id="" class="">
    <legend>{{ _('DNS') }}</legend>
    <table class="table table-bordered table-hover">
      <tr>
        <th>
          <label class="control-label strong" for="hostname">{{ _("Host Name") }}</label>
        </th>
        <td>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on"><i class="icon-pencil"></i></span>
              <input type="text" value="<%= items["hostname"] %>" id="hostname" class="span3" name="hostname" placeholder="{{ _("Host Name") }}" />
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <th>
          <label class="control-label strong" for="domain-name">{{ _("Domain Name") }}</label>
        </th>
        <td>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on"><i class="icon-pencil"></i></span>
              <input type="text" value="<%= items["domain-name"] %>" id="domain-name" class="span3" name="domain-name" placeholder="{{ _("Domain Name") }}" />
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <th>
          <label class="control-label strong" for="dns-server-1">{{ _("DNS Server 1") }}</label>
        </th>
        <td>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on"><i class="icon-hdd"></i></span>
              <input type="text" value="<%= items["dns-server-1"] %>" id="dns-server-1" class="span3" name="dns-server-1" placeholder="{{ _("DNS Server 1") }}" />
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <th>
          <label class="control-label strong" for="dns-server-2">{{ _("DNS Server 2") }}</label>
        </th>
        <td>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on"><i class="icon-hdd"></i></span>
              <input type="text" value="<%= items["dns-server-2"] %>" id="dns-server-2" class="span3" name="dns-server-2" placeholder="{{ _("DNS Server 2") }}" />
            </div>
          </div>
        </td>
      </tr>
    </table>
  </fieldset>
</div>