  <div class="SystemIpAddress padding IpInterfaceSelect control-group">
    <fieldset>
      <legend>{{ _('IP Address') }}</legend>
      <table class="table table-bordered table-hover">
        <tr>
          <th>
            <label class="control-label strong" for="ipSelecter">{{ _("Interface") }}</label>
          </th>
          <td>
            <select class="ipSelInterface" id="ipSelecter">
              <option disabled="disabled">{{ _("Interface") }}</option>
            <%  _.each(nic, function(v, k) { %>
              <option value="<%= v %>"><%= v %></option>
            <% }); %>
            </select>
          </td>
        </tr>
      </table>
    </fieldset>
  </div>

  <div class="SystemIpV46All">
    <% _.each(items["ip"], function(v, k) { %>
      <div class="SystemIpV4 padding<% if(nic[0] !== v["interface"]) { %> inactive<% } %>" opt="<%= v["interface"] %>">
        <table class="table table-bordered table-hover">
          <tr>
            <th class="IpV4title">{{ _("IPv4 Address") }}</th>
            <th>{{ _("Prefix Length") }}</th>
            <td>
              <a href="#" class="btn btnSI4Add btnIpAdd" opt="ipv4" chk="<%= v["interface"] %>">{{ _("Add") }}</a>
            </td>
          </tr>
          <% _.each(v["ipv4"], function(vv, kk) { %>
          <tr>
            <td>
              <div class="input-prepend input-append">
                <span class="add-on"><i class="icon-book"></i></span>
                <input type="text" name="<%= v["interface"] %>-ipv4_address" value="<%= vv['ipv4_address'] %>" opt="ipv4_address" class="span2" placeholder="{{ _("IPv4 Address") }}" />
                <a href="#" class="btn btnEdit">{{ _("Edit") }}</a>
              </div>
            </td>
            <td>
              <div class="input-prepend input-append">
                <span class="add-on"><i class="icon-th-large"></i></span>
                <input type="number" name="<%= v["interface"] %>-ipv4_prefix" value="<%= vv['ipv4_prefix'] %>" opt="ipv4_prefix" class="span2" placeholder="{{ _("Prefix Length") }}" />
                <a href="#" class="btn btnEdit">{{ _("Edit") }}</a>
              </div>
            </td>
            <td>
              <a href="#" class="btn btnSI4Delete btnIpDel">{{ _("Delete") }}</a>
            </td>
          </tr>
          <% }); %>
        </table>
      </div>

      <div class="SystemIpV6 padding<% if(0 !== k) { %> inactive<% } %>" opt="<%= v["interface"] %>">
        <table class="table table-bordered table-hover">
          <tr>
            <th class="IpV6title">{{ _("IPv6 Address") }}</th>
            <th>{{ _("Prefix Length") }}</th>
            <td>
              <a href="#" class="btn btnSI6Add btnIpAdd" opt="ipv6" chk="<%= v["interface"] %>">{{ _("Add") }}</a>
            </td>
          </tr>
          <% _.each(v["ipv6"], function(vv, kk) { %>
          <tr>
            <td>
              <div class="input-prepend input-append">
                <span class="add-on"><i class="icon-book"></i></span>
                <input type="text" name="<%= v["interface"] %>-ipv6_address" value="<%= vv['ipv6_address'] %>" opt="ipv6_address" class="span2" placeholder="{{ _("IPv6 Address") }}" />
                <a href="#" class="btn btnEdit">{{ _("Edit") }}</a>
              </div>
            </td>
            <td>
              <div class="input-prepend input-append">
                <span class="add-on"><i class="icon-th-large"></i></span>
                <input type="number" name="<%= v["interface"] %>-ipv6_prefix" value="<%= vv['ipv6_prefix'] %>" opt="ipv6_prefix" class="span2" placeholder="{{ _("Prefix Length") }}" />
                <a href="#" class="btn btnEdit">{{ _("Edit") }}</a>
              </div>
            </td>
            <td>
              <a href="#" class="btn btnSI6Delete btnIpDel">{{ _("Delete") }}</a>
            </td>
          </tr>
          <% }); %>
        </table>
      </div>
    <% }); %>
  </div>

  <div class="newSysIpAddress inactive">
    <table>
    	<tbody class="newIpAddress" opt="ipv4">
    	  <tr>
          <td>
            <div class="input-prepend input-append">
              <span class="add-on"><i class="icon-book"></i></span>
              <input type="text" opt="ipv4_address" class="span2" placeholder="{{ _("IPv4 Address") }}" />
              <a href="#" class="btn btnEdit">{{ _("Edit") }}</a>
            </div>
          </td>
          <td>
            <div class="input-prepend input-append">
              <span class="add-on"><i class="icon-th-large"></i></span>
              <input type="number" opt="ipv4_prefix" class="span2" placeholder="{{ _("Prefix Length") }}" />
              <a href="#" class="btn btnEdit">{{ _("Edit") }}</a>
            </div>
          </td>
          <td>
            <a href="#" class="btn btnSI4Delete btnIpDel">{{ _("Delete") }}</a>
          </td>
        </tr>
    	</tbody>
    	<tbody class="newIpAddress" opt="ipv6">
    	  <tr>
          <td>
            <div class="input-prepend input-append">
              <span class="add-on"><i class="icon-book"></i></span>
              <input type="text" opt="ipv6_address" class="span2" placeholder="{{ _("IPv6 Address") }}" />
              <a href="#" class="btn btnEdit">{{ _("Edit") }}</a>
            </div>
          </td>
          <td>
            <div class="input-prepend input-append">
              <span class="add-on"><i class="icon-th-large"></i></span>
              <input type="number" opt="ipv6_prefix" class="span2" placeholder="{{ _("Prefix Length") }}" />
              <a href="#" class="btn btnEdit">{{ _("Edit") }}</a>
            </div>
          </td>
          <td>
            <a href="#" class="btn btnSI6Delete btnIpDel">{{ _("Delete") }}</a>
          </td>
        </tr>
    	</tbody>
    </table>
  </div>