    <div class="SystemRoutingTable padding">
      <fieldset id="" class="">
        <legend>{{ _('Routing Table') }}</legend>
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#sysRT-ipv4" data-toggle="tab" opt="ipv4">{{ _("IPv4 Routing Table") }}</a>
          </li>
          <li>
            <a href="#sysRT-ipv6" data-toggle="tab" opt="ipv6">{{ _("IPv6 Routing Table") }}</a>
          </li>
        </ul>
        <div class="tab-content">
      <% _.each(items, function(v, k) { %>
        <% if("ipv4" === k) { %>
          <div id="sysRT-<%= k %>" class="tab-pane padding active">
        <% } else { %>
          <div id="sysRT-<%= k %>" class="tab-pane padding">
        <% } %>
            <table class="table table-bordered table-hover">
              <tr>
                <th>{{ _("Destination") }}</th>
                <th>{{ _("Prefix Length") }}</th>
                <th>{{ _("Gateway") }}</th>
                <th>{{ _("Interface") }}</th>
                <td>
                  <a href="#" class="btn btnRTAdd" opt="<%= k %>">{{ _("Add") }}</a>
                </td>
              </tr>
              <% if(items[k].length) { %>
                <% for(var kk = 0; kk < v.length; kk++) { %>
              <tr>
                <td>
                  <div class="input-prepend input-append">
                    <span class="add-on"><i class="icon-flag"></i></span>
                    <input type="text" name="<%= k %>-destination" value="<%= v[kk]["destination"] %>" class="span2" placeholder="{{ _("Destination") }}" />
                    <a href="#" class="btn btnEditRT">{{ _("Edit") }}</a>
                  </div>
                </td>
                <td>
                  <div class="input-prepend input-append">
                    <span class="add-on"><i class="icon-th-large"></i></span>
                    <input type="number" name="<%= k %>-prefix" value="<%= v[kk]["prefix"] %>" class="span2" placeholder="{{ _("Prefix Length") }}" />
                    <a href="#" class="btn btnEditRT">{{ _("Edit") }}</a>
                  </div>
                </td>
                <td>
                  <div class="input-prepend input-append">
                    <span class="add-on"><i class="icon-road"></i></span>
                    <input type="text" name="<%= k %>-gateway" value="<%= v[kk]["gateway"] %>" class="span2" placholder="{{ _("Gateway") }}" />
                    <a href="#" class="btn btnEditRT">{{ _("Edit") }}</a>
                  </div>
                </td>
                <td>
                  <div class="input-prepend input-append">
                    <span class="add-on"><i class="icon-screenshot"></i></span>
                    <select class="rtIpv46Intf" name="<%= k %>-interface" opt="interface" class="span2">
                      <option value="">{{ _("auto") }}</option>
                    <% _.each(nic, function(nv, nk) { %>
                      <option value="<%= nv %>"<% if(v[kk]["interface"] === nv) { %>selected="selected"<% } %>><%= nv %></option>
                    <% }); %>
                    </select>
                    <a href="#" class="btn btnEditRT">{{ _("Edit") }}</a>
                  </div>
                </td>
                <td>
                  <a href="#" class="btn btnRTDel">{{ _("Delete") }}</a>
                </td>
              </tr>
                <% } %>
              <% } %>
            </table>
          </div>
      <% }); %>
        <div class="tab-content">
      </fieldset>
    </div>

    <div class="sysRT-tpl inactive">
      <table>
        <tbody class="newSysRt">
          <tr>
            <td>
              <div class="input-prepend input-append">
                <span class="add-on"><i class="icon-flag"></i></span>
                <input type="text" class="span2" placeholder="{{ _("Destination") }}" opt="destination" />
                <a href="#" class="btn btnEditRT">{{ _("Edit") }}</a>
              </div>
            </td>
            <td>
              <div class="input-prepend input-append">
                <span class="add-on"><i class="icon-th-large"></i></span>
                <input type="number" class="span2" placeholder="{{ _("Prefix Length") }}" opt="prefix" />
                <a href="#" class="btn btnEditRT">{{ _("Edit") }}</a>
              </div>
            </td>
            <td>
              <div class="input-prepend input-append">
                <span class="add-on"><i class="icon-road"></i></span>
                <input type="text" class="span2" placholder="{{ _("Gateway") }}" opt="gateway" />
                <a href="#" class="btn btnEditRT">{{ _("Edit") }}</a>
              </div>
            </td>
            <td>
              <div class="input-prepend input-append">
                <span class="add-on"><i class="icon-screenshot"></i></span>
                <select opt="interface" class="rtIpv46Intf span2">
                  <option value="">{{ _("auto") }}</option>
                <% _.each(nic, function(nv, nk) { %>
                  <option value="<%= nv %>"><%= nv %></option>
                <% }); %>
                </select>
                <a href="#" class="btn btnEditRT">{{ _("Edit") }}</a>
              </div>
            </td>
            <td>
              <a href="#" class="btn btnRTDel">{{ _("Delete") }}</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>