    <!--div class="slbPolicySearch padding text-left">
      <div class="input-prepend input-append">
        <span class="add-on"><i class="icon-filter"></i></span>
        <select class="searchCatalog span2">
          <option disabled="disabled" selected="selected">{{ _("Search") }}</option>
          <option value="ipv4">{{ _("IPv4") }}</option>
          <option value="ipv6">{{ _("IPv6") }}</option>
        </select>
        <select class="searchSLB span2" disabled="disabled">
          <option disabled="disabled" selected="selected">{{ _("Search") }}</option>
          <optgroup label="{{ _("Source IP") }}">
            <option value="source-label">{{ _("Label") }}</option>
            <option value="source-ip">{{ _("IP") }}</option>
          </optgroup>
          <optgroup label="{{ _("Destination IP") }}">
            <option value="dest-label">{{ _("Label") }}</option>
            <option value="dest-ip">{{ _("IP") }}</option>
          </optgroup>
          <optgroup label="{{ _("Service Group") }}">
            <option value="service-protocol">{{ _("Protocol") }}</option>
            <option value="service-port">{{ _("Port") }}</option>
          </optgroup>
          <optgroup label="{{ _("Action") }}">
            <option value="action-accept">{{ _("Accept") }}</option>
            <option value="action-deny">{{ _("Deny") }}</option>
            <option value="action-vip">{{ _("VIP") }}</option>
          </optgroup>
        </select>
        <select class="searchSlbOpt span2" disabled="disabled">
          <option disabled="disabled" selected="selected">{{ _("Search") }}</option>
        </select>
        <a href="#" class="btn btnSearchSLB disabled">{{ _("Search") }}</a>
      </div>
    </div-->

  <% _.each(policy, function(av, ak) { %>
    <table class="table table-bordered slbPolicy">
      <thead>
        <tr>
          <th colspan="8">{{ _("Policy")}}</th>
        </tr>
        <tr opt="<%= ak %>" set="pl">
          <td rowspan="2">
            <a href="#" class="btn btnAddPolicty" opt="<%= ak %>">{{ _("Add") }}</a>
          </td>
          <th colspan="8">
          <% if("ipv4" === ak) { %>
            <span>{{ _("IPv4")}}</span>
          <% } else { %>
            <span>{{ _("IPv6")}}</span>
          <% } %>
          </th>
        </tr>
        <tr opt="<%= ak %>" set="pl">
          <th>
            <span>{{ _("Source IP") }}</span>
          </th>
          <th>
            <span>{{ _("Destination IP") }}</span>
          </th>
          <th>
            <span>{{ _("Service Group") }}</span>
          </th>
          <th>
            <span>{{ _("Action") }}</span>
          </th>
          <th>
            <span>{{ _("Real Server Group") }}</span>
          </th>
          <th>
            <span>{{ _("Fallback Server") }}</span>
          </th>
          <th>
            <span>{{ _("Property") }}</span>
          </th>
        </tr>
      </thead>
      <tbody opt="<%= ak %>" set="pl">
      <% _.each(av, function(v, k) { %>
        <tr opt="<%= ak %>" gnumber="<%= k %>" set="pl">
          <td>
            <div class="btn-group">
              <!--a href="#" class="btn btn-mini btnDelPolicy" opt="<%= ak %>">{{ _("Delete") }}</a-->
              <a href="#" class="btn btn-mini btnDelPolicy" opt="<%= ak %>"><i class="icon-remove"></i></a>
              <a href="#" class="btn btn-mini btnHighlight"><i class="icon-eye-open"></i></a>
              <a href="#" class="btn btn-mini btnSlbPolicyUp"><i class="icon-arrow-up"></i></a>
              <a href="#" class="btn btn-mini btnSlbPolicyDown"><i class="icon-arrow-down"></i></a>
            </div>
          </td>
          <td>
            <div class="input-prepend">
              <span class="add-on"><i class="icon-map-marker"></i></span>
              <select name="policy@@<%= ak %>@@<%= k %>@@source_ip" class="span2" chk="source_ip" crk="ip">
              <% _.each(ip[ak], function(ipv, ipk) { %>
                <option value="<%= ipv["label"] %>" <% if(ipv["label"] === v["source_ip"]) { %>selected="selected"<% } %> ><%= ipv["label"] %></option>
              <% }); %>
              </select>
            </div>
          </td>
          <td>
            <div class="input-prepend">
              <span class="add-on"><i class="icon-flag"></i></span>
              <select name="policy@@<%= ak %>@@<%= k %>@@destination_ip" class="slbDstIp span2" chk="destination_ip" crk="ip">
              <% _.each(ip[ak], function(ipv, ipk) { %>
                <option value="<%= ipv["label"] %>" <% if(ipv["ip_address"].length > 1) { %>type="many"<% } else { %>type="one"<% } %> <% if(ipv["label"] === v["destination_ip"]) { %>selected="selected"<% } %> ><%= ipv["label"] %></option>
              <% }); %>
              </select>
            </div>
          </td>
          <td>
            <div class="input-prepend">
              <span class="add-on"><i class="icon-tags"></i></span>
              <select name="policy@@<%= ak %>@@<%= k %>@@service_group" class="span2" chk="service_group" crk="sg">
              <% _.each(service_group[ak], function(ipv, ipk) { %>
                <option value="<%= ipv["label"] %>" <% if(ipv["label"] === v["service_group"]) { %>selected="selected"<% } %> ><%= ipv["label"] %></option>
              <% }); %>
              </select>
            </div>
          </td>
          <td>
            <div class="input-prepend">
              <span class="add-on"><i class="icon-hand-right"></i></span>
              <select name="policy@@<%= ak %>@@<%= k %>@@action" class="span2" chk="action">
                <option value="Accept" <% if("Accept" === v["action"]) { %>selected="selected"<% } %> >{{ _("Accept") }}</option>
                <option value="Deny" <% if("Deny" === v["action"]) { %>selected="selected"<% } %> >{{ _("Deny") }}</option>
                <option value="VIP" <% if("VIP" === v["action"]) { %>selected="selected"<% } %> disabled="disabled" >{{ _("VIP") }}</option>
              </select>
            </div>
          </td>
          <td>
            <div class="input-prepend">
              <span class="add-on"><i class="icon-hdd"></i></span>
              <select name="policy@@<%= ak %>@@<%= k %>@@real_server_group" class="span2" chk="real_server_group" crk="rsg">
              <% _.each(real_server_group[ak], function(ipv, ipk) { %>
                <option value="<%= ipv["label"] %>"<% if(ipv["label"] === v["real_server_group"]) { %>selected="selected"<% } %> ><%= ipv["label"] %></option>
              <% }); %>
              </select>
            </div>
          </td>
          <td>
            <div class="input-prepend">
              <span class="add-on"><i class="icon-tasks"></i></span>
              <select name="policy@@<%= ak %>@@<%= k %>@@fallback_server" class="span2" chk="fallback_server" crk="fbs">
              <% _.each(fallback_server[ak], function(ipv, ipk) { %>
                <option value="<%= ipv["label"] %>"<% if(ipv["label"] === v["fallback_server"]) { %>selected="selected"<% } %> ><%= ipv["label"] %></option>
              <% }); %>
              </select>
            </div>
          </td>
          <td>
            <div class="input-prepend">
              <span class="add-on"><i class="icon-briefcase"></i></span>
              <select name="policy@@<%= ak %>@@<%= k %>@@property" class="span2" chk="property" crk="pt">
              <% _.each(property, function(ipv, ipk) { %>
                <option value="<%= ipv["label"] %>"<% if(ipv["label"] === v["property"]) { %>selected="selected"<% } %> ><%= ipv["label"] %></option>
              <% }); %>
              </select>
            </div>
          </td>
        </tr>
      <% }); %>
      </tbody>
    </table>
  <% }); %>

    <div class="slb-PolicyTpl inactive">
      <table>
      	<tbody class="newPolicy">
      	  <tr set="pl">
            <td>
              <div class="btn-group">
                <!--a href="#" class="btn btn-small btnDelPolicy">{{ _("Delete") }}</a-->
                <a href="#" class="btn btn-mini btnDelPolicy"><i class="icon-remove"></i></a>
                <a href="#" class="btn btn-mini btnHighlight"><i class="icon-eye-open"></i></a>
                <a href="#" class="btn btn-mini btnSlbPolicyUp"><i class="icon-arrow-up"></i></a>
                <a href="#" class="btn btn-mini btnSlbPolicyDown"><i class="icon-arrow-down"></i></a>
              </div>
            </td>
            <td>
              <div class="input-prepend">
                <span class="add-on"><i class="icon-map-marker"></i></span>
                <select class="span2" chk="source_ip" crk="ip"></select>
              </div>
            </td>
            <td>
              <div class="input-prepend">
                <span class="add-on"><i class="icon-flag"></i></span>
                <select class="slbDstIp span2" chk="destination_ip" crk="ip"></select>
              </div>
            </td>
            <td>
              <div class="input-prepend">
                <span class="add-on"><i class="icon-tags"></i></span>
                <select class="span2" chk="service_group" crk="sg"></select>
              </div>
            </td>
            <td>
              <div class="input-prepend">
                <span class="add-on"><i class="icon-hand-right"></i></span>
                <select class="span2" chk="action">
                  <option value="Accept">{{ _("Accept") }}</option>
                  <option value="Deny">{{ _("Deny") }}</option>
                  <option value="VIP">{{ _("VIP") }}</option>
                </select>
              </div>
            </td>
            <td>
              <div class="input-prepend">
                <span class="add-on"><i class="icon-hdd"></i></span>
                <select class="span2" chk="real_server_group" crk="rsg"></select>
              </div>
            </td>
            <td>
              <div class="input-prepend">
                <span class="add-on"><i class="icon-tasks"></i></span>
                <select class="span2" chk="fallback_server" crk="fbs"></select>
              </div>
            </td>
            <td>
              <div class="input-prepend">
                <span class="add-on"><i class="icon-briefcase"></i></span>
                <select class="span2" chk="property" crk="pt"></select>
              </div>
            </td>
          </tr>
      	</tbody>
      </table>
    </div>
