    <table class="table table-bordered table-hover">
      <tr>
        <th colspan="4">{{ _("IP") }}</th>
      </tr>
<% _.each(ip, function(av, ak) { %>
      <tr opt="<%= ak %>">
        <td rowspan="2">
          <a href="#" class="btn btnAddIpSet" opt="<%= ak %>">{{ _("Add") }}</a>
        </td>
      <% if("ipv4" === ak) { %>
        <th colspan="3">{{ _("Ipv4") }}</th>
      <% } else { %>
        <th colspan="3">{{ _("Ipv6") }}</th>
      <% } %>
      </tr>
      <tr opt="<%= ak %>">
        <th>{{ _("Lable") }}</th>
        <th colspan="2">{{ _("IP Address") }}</th>
      </tr>
  <% _.each(av, function(v, k) { %>
      <tr opt="<%= ak %>" gnumber="<%= k %>">
        <td rowspan="<%= v["ip_address"].length + 1 %>">
          <a href="#" class="btn btnDelIpSet" opt="<%= ak %>">{{ _("Delete") }}</a>
        </td>
        <td rowspan="<%= v["ip_address"].length + 1 %>">
          <div class="input-prepend input-append">
            <span class="add-on"><i class="icon-pencil"></i></span>
            <input type="text" name="ip@@<%= ak %>@@<%= k %>@@label" value="<%= v["label"] %>" class="span2" />
            <a href="#" class="btn btnConfirm">{{ _("Edit") }}</a>
          </div>
        </td>
      </tr>
    <% _.each(v["ip_address"], function(vv, kk) { %>
      <tr opt="<%= ak %>" gnumber="<%= k %>" inumber="<%= kk %>" >
        <td>
        <% if(0 === kk) { %>
          <a href="#" class="btn btnAddIpAddress">{{ _("Add") }}</a>
        <% } else { %>
          <a href="#" class="btn btnDelIpAddress">{{ _("Delete") }}</a>
        <% } %>
        </td>
        <td>
          <div class="input-prepend input-append">
            <span class="add-on"><i class="icon-cog"></i></span>
            <input type="text" name="ip@@<%= ak %>@@<%= k %>@@ip_address" value="<%= vv %>" class="span2" />
            <a href="#" class="btn btnConfirm">{{ _("Edit") }}</a>
          </div>
        </td>
      </tr>
    <% }); %>
  <% }); %>
      <tr>
        <td></td>
        <td colspan="3">{{ _("Any") }}</td>
      </tr>
<% }); %>
    </table>

    <div class="slb-ipTpl inactive">
      <table>
        <tbody class="newSlbIpSet">
        	<tr>
        		<td rowspan="2">
              <a href="#" class="btn btnDelIpSet" opt="">{{ _("Delete") }}</a>
            </td>
            <td rowspan="2">
              <div class="input-prepend input-append">
                <span class="add-on"><i class="icon-pencil"></i></span>
                <input type="text" name="" value="" class="span2" />
                <a href="#" class="btn btnConfirm">{{ _("Edit") }}</a>
              </div>
            </td>
        	</tr>
        	<tr>
        	  <td>
        	    <a href="#" class="btn btnAddIpAddress">{{ _("Add") }}</a>
        	  </td>
        	  <td>
              <div class="input-prepend input-append">
                <span class="add-on"><i class="icon-cog"></i></span>
                <input type="text" name="" value="" class="span2" />
                <a href="#" class="btn btnConfirm">{{ _("Edit") }}</a>
              </div>
            </td>
        	</tr>
      	</tbody>
      	<tfoot class="newSlbIpSet">
      	  <tr>
            <td>
              <a href="#" class="btn btnDelIpAddress">{{ _("Delete") }}</a>
            </td>
            <td>
              <div class="input-prepend input-append">
                <span class="add-on"><i class="icon-cog"></i></span>
                <input type="text" name="" value="" class="span2" />
                <a href="#" class="btn btnConfirm">{{ _("Edit") }}</a>
              </div>
            </td>
          </tr>
      	</tfoot>
      </table>
    </div>