    <table class="table table-bordered table-hover">
      <tr>
      	<th colspan="8">{{ _("Real Server Group") }}</th>
      </tr>
<% _.each(real_server_group, function(av, ak) { %>
      <tr>
        <td>
          <a href="#" class="btn btnAddRSG" opt="<%= ak %>">{{ _("Add") }}</a>
        </td>
      	<th colspan="7">
    	  <% if("ipv4" == ak) { %>
      	  <span>{{ _("IPv4") }}</span>
    	  <% } else { %>
    	    <span>{{ _("IPv6") }}</span>
  	    <% } %>
      	</th>
      </tr>
  <% _.each(av, function(v, k) { %>
      <tr>
      	<td rowspan="<%= v["real_server"].length + 2 %>">
      	  <a href="#" class="btn btnDelRSG" opt="<%= ak %>">{{ _("Delete") }}</a>
      	</td>
      	<th>
      	  <span>{{ _("Label") }}</span>
      	</th>
      	<th>
      	  <a href="#" class="btn btnAddRSGInstance" opt="<%= ak %>" gnumber="<%= k %>">{{ _("Add") }}</a>
      	</th>
      	<th>
      	  <span>{{ _("Label") }}</span>
      	</th>
      	<th>
      	  <span>{{ _("IP Address") }}</span>
      	</th>
      	<th>
      	  <span>{{ _("Weight") }}</span>
      	</th>
      	<th>
      	  <span>{{ _("Health Check") }}</span>
      	</th>
      	<th>
      	  <span>{{ _("Maintenance Mode") }}</span>
      	</th>
      </tr>
      <tr>
        <td rowspan="<%= v["real_server"].length + 1 %>">
          <div class="input-prepend input-append">
            <span class="add-on"><i class="icon-pencil"></i></span>
            <input type="text" name="real_server_group@@<%= ak %>@@<%= k %>@@label" value="<%= v["label"] %>" class="span1" />
            <a href="#" class="btn btnConfirm">{{ _("Edit") }}</a>
          </div>
        </td>
      </tr>
    <% _.each(v["real_server"], function(vv, kk) { %>
      <tr>
        <td>
          <a href="#" class="btn btn-mini btnDelRSGInstance" opt="<%= ak %>" gnumber="<%= k %>" inumber="<%= kk %>">{{ _("Delete") }}</a>
        </td>
        <td>
          <div class="input-prepend input-append">
            <span class="add-on"><i class="icon-pencil"></i></span>
            <input type="text" name="real_server_group@@<%= ak %>@@<%= k %>@@real_server@@<%= kk %>@@label" value="<%= vv["label"] %>" class="span1" />
            <a href="#" class="btn btnConrim">{{ _("Edit") }}</a>
          </div>
        </td>
        <td>
          <div class="input-prepend input-append">
            <span class="add-on"><i class="icon-cog"></i></span>
            <input type="text" name="real_server_group@@<%= ak %>@@<%= k %>@@real_server@@<%= kk %>@@ip_address" value="<%= vv["ip_address"] %>" class="span2" />
            <a href="#" class="btn btnConfirm">{{ _("Edit") }}</a>
          </div>
        </td>
        <td>
          <div class="input-prepend input-append">
            <span class="add-on"><i class="icon-list-alt"></i></span>
            <input type="number" name="real_server_group@@<%= ak %>@@<%= k %>@@real_server@@<%= kk %>@@weight" value="<%= vv["weight"] %>" class="span1" />
            <a href="#" class="btn btnConfirm">{{ _("Edit") }}</a>
          </div>
        </td>
        <td>
          <div class="input-prepend input-append">
            <span class="add-on"><i class="icon-check"></i></span>
            <select class="span2">
              <option value="NA">{{ _("NA") }}</option>
            </select>
            <a href="#" class="btn btnAddRSGCheck" opt="<%= ak %>" gnumber="<%= k %>" inumber="<%= kk %>">{{ _("Add") }}</a>
          </div>
          <p>
        <% if("http_get" in v["real_server"][kk]) { %>
            <span class="badge badge-info">
              <span>{{ _("HTTP_GET") }}&nbsp;</span>
              <i class="icon-remove clickable"></i>
            <% _.each(v["real_server"][kk]["http_get"], function(va, ka) { %>
              <input type="hidden" name="real_server_group@@<%= ak %>@@<%= k %>@@real_server@@<%= kk %>@@http_get@@<%= ka %>" value="<%= va %>" />
            <% }); %>
            </span>
        <% } %>
        <% if("https_get" in v["real_server"][kk]) { %>
            <span class="badge badge-info">
              <span>{{ _("HTTPS_GET") }}&nbsp;</span>
              <i class="icon-remove clickable"></i>
            <% _.each(v["real_server"][kk]["https_get"], function(va, ka) { %>
              <input type="hidden" name="real_server_group@@<%= ak %>@@<%= k %>@@real_server@@<%= kk %>@@https_get@@<%= ka %>" value="<%= va %>" />
            <% }); %>
            </span>
        <% } %>
        <% if("icmp_check" in v["real_server"][kk]) { %>
            <span class="badge badge-info">
              <span>{{ _("ICMP_CHECK") }}&nbsp;</span>
              <i class="icon-remove clickable"></i>
            <% _.each(v["real_server"][kk]["icmp_check"], function(va, ka) { %>
              <input type="hidden" name="real_server_group@@<%= ak %>@@<%= k %>@@real_server@@<%= kk %>@@icmp_check@@<%= ka %>" value="<%= va %>" />
            <% }); %>
            </span>
        <% } %>
        <% if("tcp_check" in v["real_server"][kk]) { %>
            <span class="badge badge-info">
              <span>{{ _("TCP_CHECK") }}&nbsp;</span>
              <i class="icon-remove clickable"></i>
            <% _.each(v["real_server"][kk]["tcp_check"], function(va, ka) { %>
              <input type="hidden" name="real_server_group@@<%= ak %>@@<%= k %>@@real_server@@<%= kk %>@@tcp_check@@<%= ka %>" value="<%= va %>" />
            <% }); %>
            </span>
        <% } %>
        <% if("smtp_check" in v["real_server"][kk]) { %>
            <span class="badge badge-info">
              <span>{{ _("SMTP_CHECK") }}&nbsp;</span>
              <i class="icon-remove clickable"></i>
            <% _.each(v["real_server"][kk]["smtp_check"], function(va, ka) { %>
              <input type="hidden" name="real_server_group@@<%= ak %>@@<%= k %>@@real_server@@<%= kk %>@@smtp_check@@<%= ka %>" value="<%= va %>" />
            <% }); %>
            </span>
        <% } %>
        <% if("pattern_check" in v["real_server"][kk]) { %>
            <span class="badge badge-info">
              <span>{{ _("PATTERN_CHECK") }}&nbsp;</span>
              <i class="icon-remove clickable"></i>
            <% _.each(v["real_server"][kk]["pattern_check"], function(va, ka) { %>
              <input type="hidden" name="real_server_group@@<%= ak %>@@<%= k %>@@real_server@@<%= kk %>@@pattern_check@@<%= ka %>" value="<%= va %>" />
            <% }); %>
            </span>
        <% } %>
          </p>
        </td>
        <td>
          <input type="checkbox" name="real_server_group@@<%= ak %>@@<%= k %>@@real_server@@<%= kk %>@@maintenance_mode" value="true" <% if(true === vv["maintenance_mode"]) { %>checked="checked"<% } %>/>
        </td>
      </tr>
    <% }); %>
  <% }); %>
<% }); %>
    </table>