<div class="svSlb padding">
  <fieldset>
    <legend>{{ _("SLB") }}</legend>
    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#svSlbIp" data-toggle="tab">{{ _("IP") }}</a></li>
        <li><a href="#svSlbSG" data-toggle="tab">{{ _("Service Group") }}</a></li>
        <li><a href="#svSlbRSG" data-toggle="tab">{{ _("Real Server Group") }}</a></li>
        <li><a href="#svSlbFS" data-toggle="tab">{{ _("Fallback Server") }}</a></li>
        <li><a href="#svSlbProperty" data-toggle="tab">{{ _("Property") }}</a></li>
        <li><a href="#svSlbPolicy" data-toggle="tab">{{ _("Policy") }}</a></li>
      </ul>
      <div class="tab-content">
        <div id="svSlbIp" class="tab-pane active"></div>

        <div id="svSlbSG" class="tab-pane"></div>

        <div id="svSlbRSG" class="tab-pane"></div>

        <div id="svSlbFS" class="tab-pane"></div>

        <div id="svSlbProperty" class="tab-pane"></div>

        <div id="svSlbPolicy" class="tab-pane"></div>
      </div>
    </div>
  </fieldset>
</div>