<div class="svSNMP padding">
  <fieldset id="" class="">
    <legend>{{ _('SNMP') }}</legend>
    <table class="table table-bordered table-hover">
      <tr>
        <th>
          <label for="svSNMPEnable" class="control-label strong">{{ _("Enable") }}</label>
        </th>
        <td>
          <input type="checkbox" id="svSNMPEnable" name="enable" value="true" />
        </td>
      </tr>
      <tr>
        <th>
          <label for="svSNMPCmty" class="control-label strong">{{ _("Community" )}}</label>
        </th>
        <td>
          <div class="input-prepend">
            <span class="add-on"><i class="icon-volume-up"></i></span>
            <input type="text" id="svSNMPCmty" name="community" class="span2" value="<%= community %>" />
          </div>
        </td>
      </tr>
      <tr>
        <th>
          <label for="svSNMPSysName" class="control-label strong">{{ _("System Name") }}</label>
        </th>
        <td>
          <div class="input-prepend">
            <span class="add-on"><i class="icon-pencil"></i></span>
            <input type="text" id="svSNMPSysName" name="system_name" class="span2" value="<%= system_name %>" />
          </div>
        </td>
      </tr>
      <tr>
        <th>
          <label for="svSNMPSysCont" class="control-label strong">{{ _("System Contact") }}</label>
        </th>
        <td>
          <div class="input-prepend">
            <span class="add-on"><i class="icon-user"></i></span>
            <input type="text" name="system_contact" id="svSNMPSysCont" class="span2" value="<%= system_contact %>" />
          </div>
        </td>
      </tr>
      <tr>
        <th>
          <label for="svSNMPSysLoc" class="control-label strong">{{ _("System Location") }}</label>
        </th>
        <td>
          <div class="input-prepend">
            <span class="add-on"><i class="icon-home"></i></span>
            <input type="text" name="system_location" id="svSNMPSysLoc" class="span2" value="<%= system_location %>" />
          </div>
        </td>
      </tr>
    </table>
  </fieldset>
</div>