<div class="svSNMP padding">
  <fieldset id="" class="">
    <legend>{{ _('SNMP') }}</legend>
    <table class="table table-bordered table-hover">
      <tr>
        <th>
          <label for="svSNMPEnable" class="control-label strong">{{ _("Enable") }}</label>
        </th>
        <td>
          <input type="checkbox" id="svSNMPEnable" name="enable" value="true" />
        </td>
      </tr>
      <tr>
        <th>
          <label for="svSNMPCmty" class="control-label strong">{{ _("Community" )}}</label>
        </th>
        <td>
          <input type="text" id="svSNMPCmty" name="community" value="<%= community %>" />
        </td>
      </tr>
      <tr>
        <th>
          <label for="svSNMPSysName" class="control-label strong">{{ _("System Name") }}</label>
        </th>
        <td>
          <input type="text" id="svSNMPSysName" name="system_name" value="<%= system_name %>" />
        </td>
      </tr>
      <tr>
        <th>
          <label for="svSNMPSysCont" class="control-label strong">{{ _("System Contact") }}</label>
        </th>
        <td>
          <input type="text" name="system_contact" id="svSNMPSysCont" value="<%= system_contact %>" />
        </td>
      </tr>
      <tr>
        <th>
          <label for="svSNMPSysLoc" class="control-label strong">{{ _("System Location") }}</label>
        </th>
        <td>
          <input type="text" name="system_location" id="svSNMPSysLoc" value="<%= system_location %>" />
        </td>
      </tr>
    </table>
  </fieldset>
</div>