  <div class="logView padding">
    <fieldset id="" class="">
      <legend>{{ _("Recent Event") }}</legend>
      <div class="padding input-prepend input-append">
        <span class="add-on"><i class="icon-refresh"></i></span>
        <select name="logtype" class="span2">
          <% _.each(items, function(v, k) { %>
          <option value="<%= v %>"><%= v %></option>
          <% }); %>
        </select>
        <a href="#" class="btn btnViewsRf">{{ _("Refresh") }}</a>
      </div>
      <div class="text-center padding">
        <div class="logViewList text-left radis"></div>
        <!--textarea class="logViewList padding" readonly="readonly"></textarea-->
      </div>
    </fieldset>
  </div>