  <div class="SystemVLAN padding control-group">
    <fieldset>
      <legend>{{ _('VLAN') }}</legend>
      <table class="table table-bordered table-hover">
        <tr>
          <th>
            <span>{{ _("Interface") }}</span>
          </th>
          <th>
            <span>{{ _("VLAN ID") }}</span>
          </th>
          <td>
            <a href="#" class="btn btnAdd btnAddVlan">{{ _("Add") }}</a>
          </td>
        </tr>
        <% _.each(items.vconfig, function(v, k) { %>
        <tr class="item item-<%= v["vlan_id"] %>">
          <td>
            <div class="input-prepend input-append">
              <span class="add-on"><i class="icon-tag"></i></span>
              <select name="interface" class="span2">
              <% _.each(nic, function(vv, kk) { %>
                <option value="<%= vv %>" <% if(v["interface"] === vv) { %>selected="selected"<% } %>><%= vv %></option>
              <% }); %>
              </select>
              <a href="#" class="btn btnEditVlan">{{ _("Edit") }}</a>
            </div>
          </td>
          <td>
            <div class="input-prepend input-append">
              <span class="add-on"><i class="icon-pencil"></i></span>
              <input type="number" name="vlan_id" value="<%= v["vlan_id"] %>" class="span2" placeholder="{{ _("VLAN ID") }}" />
              <a href="#" class="btn btnEditVlan">{{ _("Edit") }}</a>
            </div>
          </td>
          <td>
            <a href="#" class="btn btnDel btnDelVlan">{{ _("Delete") }}</a>
          </td>
        </tr>
        <% }); %>
      </table>
    </fieldset>
  </div>

  <div class="newSysVLAN inactive">
    <table>
      <tbody class="newVlan">
        <tr class="item">
          <td>
            <div class="input-prepend input-append">
              <span class="add-on"><i class="icon-tag"></i></span>
              <select name="interface" class="span2">
              <% _.each(nic, function(vv, kk) { %>
                <option value="<%= vv %>"><%= vv %></option>
              <% }); %>
              </select>
              <a href="#" class="btn btnEditVlan">{{ _("Edit") }}</a>
            </div>
          </td>
          <td>
            <div class="input-prepend input-append">
              <span class="add-on"><i class="icon-pencil"></i></span>
              <input type="number" name="vlan_id" class="span2" placeholder="{{ _("VLAN ID") }}" />
              <a href="#" class="btn btnEditVlan">{{ _("Edit") }}</a>
            </div>
          </td>
          <td>
            <a href="#" class="btn btnDel btnDelVlan">{{ _("Delete") }}</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>