  <div class="svVRRP padding">
    <fieldset>
      <legend>{{ _("VRRPv2 Setup") }}</legend>
      <input type="hidden" name="group" value="vrrpv2" />
        <table class="table table-bordered table-hover vrrpTable">
          <tr>
            <th>
              <a href="#" class="btn btnSvVrrpAddGp">{{ _("Add") }}</a>
            </th>
            <th colspan="4">{{ _("VRRP Group") }}</th>
          </tr>
        <% _.each(group, function(v, k) { %>
          <tr gnumber="<%= k %>">
            <td rowspan="<%= v["instance"].length + 1 %>">
              <a href="#" class="btn btnSvVrrpDelGp btnSvVrrpDel">{{ _("Delete") }}</a>
            </td>
            <td rowspan="<%= v["instance"].length + 1 %>" class="svVrrpGpName">
              <div class="input-prepend svVrrpGpEditGp">
                <span class="add-on"><i class="icon-pencil"></i></span>
                <input type="text" class="span2" name="<%= k %>@@group-name" value="<%= v["group-name"] %>" placeholder="{{ _("VRRP Group Name") }}" />
              </div>
            </td>
            <th colspan="3">
              <span class="svVrrpNewInst">
                <a href="#" class="btn btnSvVrrpAddIt" gname="<%= v["group-name"] %>" gnumber="<%= k %>">{{ _("Add") }}</a>&nbsp;{{ _("VRRP Instance") }}
              </span>
            </th>
          </tr>
          <% _.each(v["instance"], function(vv, kk) { %>
          <tr gnumber="<%= k %>" inumber="<%= kk %>">
            <th>
              <a href="#" class="btn btnSvVrrpDelIt btnSvVrrpDel" gname="<%= v["group-name"] %>" iname="<%= vv["instance-name"] %>"  gnumber="<%= k %>" inumber="<%= kk %>">{{ _("Delete") }}</a>
            </th>
            <td>
              <div class="input-prepend">
                <span class="add-on"><i class="icon-pencil"></i></span>
                <input type="text" class="span2" name="<%= k %>@@instance@@<%= kk %>@@instance-name" value="<%= vv["instance-name"] %>" gnumber="<%= k %>" inumber="<%= kk %>" placeholder="{{ _("VRRP Group Name") }}" />
              </div>
              <span class="inactive svVrrpTpl">
                <% _.each(vv, function(nv, nk) { %>
                  <% if("ipv4_vip" === nk || "ipv4_vr" === nk || "ipv6_vip" === nk || "ipv6_vr" === nk || "additional_track_interface" == nk) { %>
                    <% _.each(nv, function(mv, mk) { %>
                      <% _.each(mv, function(ov, ok) { %>
                        <input type="hidden" gnumber="<%= k %>" inumber="<%= kk %>" name="<%= k %>@@instance@@<%= kk %>@@<%= nk %>@@<%= mk %>@@<%= ok %>" value="<%= ov %>" />
                      <% }); %>
                    <% }); %>
                  <% } else { %>
                    <input type="hidden" gnumber="<%= k %>" inumber="<%= kk %>" name="<%= k %>@@instance@@<%= kk %>@@<%= nk %>" value="<%= nv %>" />
                  <% } %>
                <% }); %>
              </span>
            </td>
            <th>
              <a href="#" class="btn btnSvVrrpEditIt" gname="<%= v["group-name"] %>" iname="<%= vv["instance-name"] %>"  gnumber="<%= k %>" inumber="<%= kk %>">{{ _("Edit") }}</a>
            </th>
          </tr>
        <% }); %>
      <% }); %>
      </table>
    </fieldset>
  </div>
  <span class="svVrrpTpl inactive">
    <a href="#" class="btn btnSvVrrpDelGp btnSvVrrpDel">{{ _("Delete") }}</a>
    <span class="svVrrpNewInst">
      <a href="#" class="btn btnSvVrrpAddIt">{{ _("Add") }}</a>&nbsp;{{ _("VRRP Instance") }}
    </span>
    <a href="#" class="btn btnSvVrrpDelIt btnSvVrrpDel">{{ _("Delete") }}</a>
    <a href="#" class="btn btnSvVrrpEditIt">{{ _("Edit") }}</a>
    <div class="input-prepend svVrrpGpEditGp">
      <span class="add-on"><i class="icon-pencil"></i></span>
      <input type="text" class="span2" value="" placeholder="{{ _("VRRP Group Name") }}" />
    </div>

    <table>
      <tr gnumber="" inumber="" class="newInstance">
        <th>
          <a href="#" class="btn btnSvVrrpDelIt btnSvVrrpDel" gname="" iname=""  gnumber="" inumber="">{{ _("Delete") }}</a>
        </th>
        <td>
          <div class="input-prepend">
            <span class="add-on"><i class="icon-pencil"></i></span>
            <input type="text" class="span2" name="instance-name" value="" gnumber="" inumber="" placeholder="{{ _("VRRP Group Name") }}" />
          </div>
          <span class="inactive svVrrpTpl"></span>
        </td>
        <th>
          <a href="#" class="btn btnSvVrrpEditIt" gname="" iname=""  gnumber="" inumber="">{{ _("Edit") }}</a>
        </th>
      </tr>
    </table>
  </span>