<div class="svVRRP padding">
  <fieldset>
    <legend>{{ _("VRRPv2 Setup") }}</legend>
    <input type="hidden" name="group" value="vrrpv2" />
      <table class="table table-bordered table-hover">
        <tr>
          <th>
            <a href="#" class="btn btnSvVrrpAddGp">{{ _("Add") }}</a>
          </th>
          <th colspan="4">{{ _("VRRP Group") }}</th>
        </tr>
      <% _.each(group, function(v, k) { %>
        <tr group="<%= k %>">
          <td rowspan="<%= v["instance"].length + 1 %>">
            <a href="#" class="btn btnSvVrrpDelGp btnSvVrrpDel">{{ _("Delete") }}</a>
          </td>
          <td rowspan="<%= v["instance"].length + 1 %>" class="svVrrpGpName">
            <div class="input-prepend input-append svVrrpGpEditGp">
              <span class="add-on"><i class="icon-pencil"></i></span>
              <input type="text" class="span2" value="<%= v["group-name"] %>" placeholder="{{ _("VRRP Group Name") }}" />
              <a href="#" class="btn btnSvVrrpEditGpName" data-group="<%= v["group-name"] %>">{{ _("Edit") }}</a>
            </div>
          </td>
          <th colspan="3">
            <span class="svVrrpNewInst">
              <a href="#" class="btn btnSvVrrpAddIt" gpnumber="<%= k %>">{{ _("Add") }}</a>&nbsp;{{ _("VRRP Instance") }}
            </span>
          </th>
        </tr>
        <% _.each(v["instance"], function(vv, kk) { %>
        <tr group="<%= k %>">
          <th>
            <a href="#" class="btn btnSvVrrpDelIt btnSvVrrpDel">{{ _("Delete") }}</a>
          </th>
          <td>
            <div class="input-prepend input-append">
              <span class="add-on"><i class="icon-pencil"></i></span>
              <input type="text" class="span2" value="<%= vv["instance-name"] %>" data-groupnum="<%= k %>" data-instnumber="<%= kk %>" placeholder="{{ _("VRRP Group Name") }}" />
              <a href="#" class="btn btnSvVrrpEditInstName" data-instance="<%= vv["instance-name"] %>">{{ _("Edit") }}</a>
            </div>
            <span class="inactive svVrrpTpl">
              <% _.each(vv, function(nv, nk) { %>
                <% if("ipv4_vip" === nk || "ipv4_vr" === nk || "ipv6_vip" === nk || "ipv6_vr" === nk || "additional_track_interface" == nk) { %>
                  <% _.each(nv, function(mv, mk) { %>
                    <% _.each(mv, function(ov, ok) { %>
                      <input type="hidden" data-groupnum="<%= k %>" data-InstNumber="<%= kk %>" data-<%= nk %>="<%= mk %>" data-opt="<%= nk %>" name="<%= k %>@@<%= kk %>@@<%= nk %>@@<%= mk %>@@<%= ok %>" value="<%= ov %>" />
                    <% }); %>
                  <% }); %>
                <% } else { %>
                  <input type="hidden" data-groupnum="<%= k %>" data-instnumber="<%= kk %>" name="<%= k %>@@<%= kk %>@@<%= nk %>" value="<%= nv %>" />
                <% } %>
              <% }); %>
            </span>
          </td>
          <th>
            <a href="#" class="btn btnSvVrrpEditIt" gpnumber="<%= k %>" instnumber="<%= kk %>">{{ _("Edit") }}</a>
          </th>
        </tr>
      <% }); %>
    <% }); %>
    </table>
  </fieldset>
  <span class="svVrrpTpl inactive">
    <a href="#" class="btn btnSvVrrpDelGp btnSvVrrpDel">{{ _("Delete") }}</a>
    <span class="svVrrpNewInst">
      <a href="#" class="btn btnSvVrrpAddIt">{{ _("Add") }}</a>&nbsp;{{ _("VRRP Instance") }}
    </span>
    <a href="#" class="btn btnSvVrrpDelIt btnSvVrrpDel">{{ _("Delete") }}</a>
    <a href="#" class="btn btnSvVrrpEditIt">{{ _("Edit") }}</a>
  </span>
</div>