  <div id="psteps_simple_new_layout" class="wizard-dialog pf-form" title="{{ _("Wizard") }}">
    <div class="row-fluid">
      <div class="span12" style="font-size:0;text-align:center;">
        <div class="step-title">
          <span class="step-order">1.</span>
          <span class="step-name">{{ _("DNS") }}</span>
        </div>
        <div class="step-title">
          <span class="step-order">2.</span>
          <span class="step-name">{{ _("Mode") }}</span>
        </div>
        <div class="step-title">
          <span class="step-order">3.</span>
          <span class="step-name">{{ _("VRRP") }}</span>
        </div>
        <div class="step-title">
          <span class="step-order">4.</span>
          <span class="step-name">{{ _(" s0e2 IP Address") }}</span>
        </div>
        <div class="step-title">
          <span class="step-order">5.</span>
          <span class="step-name">{{ _("s0e1 IP Address") }}</span>
        </div>
        <div class="step-title">
          <span class="step-order">6.</span>
          <span class="step-name">{{ _("SLB") }}</span>
        </div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12 well clearfix">
        <div class="step-content">
          {% include "js/wizard-dns.html" %}
        </div>
        <div class="step-content hide">
          {% include "js/wizard-mode.html" %}
        </div>
        <div class="step-content hide">
          {% include "js/wizard-vrrp.html" %}
        </div>
        <div class="step-content hide">
          {% include "js/wizard-s0e2.html" %}
        </div>
        <div class="step-content hide">
          {% include "js/wizard-s0e1.html" %}
        </div>
        <div class="step-content hide">
          {% include "js/wizard-slb.html" %}
        </div>
        <div style="clear:both;"></div>
        <a href="#" class="next-button btn hide">{{ _("Next") }}</a>
        <a href="#" class="submit-button btn">{{ _("Done") }}</a>
        <a href="#" class="back-button btn">{{ _("Back") }}</a>
      </div>
    </div>
  </div>