  <div id="psteps_simple_new_layout" class="pf-form">
    <div class="row-fluid">
      <div class="span12" style="font-size:0;text-align:center;">
        <div class="step-title">
          <span class="step-order">1.</span>
          <span class="step-name">{{ _("DNS") }}</span>
        </div>
        <div class="step-title">
          <span class="step-order">2.</span>
          <span class="step-name">{{ _("Mode") }}</span>
        </div>
        <div class="step-title">
          <span class="step-order">3.</span>
          <span class="step-name">{{ _("VRRP") }}</span>
        </div>
        <div class="step-title">
          <span class="step-order">4.</span>
          <span class="step-name">{{ _(" s0e2 IP Address") }}</span>
        </div>
        <div class="step-title">
          <span class="step-order">5.</span>
          <span class="step-name">{{ _("s0e1 IP Address") }}</span>
        </div>
        <div class="step-title">
          <span class="step-order">6.</span>
          <span class="step-name">{{ _("SLB") }}</span>
        </div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12 well clearfix">
        <div class="step-content">Step 1</div>
        <div class="step-content hide">Step 2</div>
        <div class="step-content hide">Step 3</div>
        <div class="step-content hide">Step 4</div>
        <div class="step-content hide">Step 5</div>
        <div class="step-content hide">Step 6</div>
        <div style="clear:both;"></div>
        <button class="next-button btn hide">Next</button>
        <button class="submit-button btn">Done</button>
        <button class="back-button btn">Back</button>
      </div>
    </div>
  </div>