    <div class="wzSLB padding">
      <div class="row-fluid">
        <div class="span5">
          <fieldset class="form-horizontal">
            <legend>{{ _('SLB') }}</legend>
            <table class="table table-bordered table-hover">
              <tr class="hd">
              	<th>
              	  <a href="#" class="btn btnAddWzSLB">{{ _("Add") }}</a>
              	</th>
              	<th>
              	  <span>{{ _("Virutal IP Address") }}</span>
              	</th>
              	<th>
              	  <span>{{ _("Application Port") }}</span>
              	</th>
              	<th>
              	  <span>{{ _("Protocol") }}</span>
              	</th>
              	<th>
              	  <span>{{ _("Persistence") }}</span>
              	</th>
              	<th>
              	  <span>{{ _("Real Server ") }}</span>
              	</th>
              </tr>
              <tr>
              	<td>
              	  <a href="#" class="btn btnDelWzSLB disabled">{{ _("Delete") }}</a>
              	</td>
              	<td>
              	  <div class="input-prepend">
              	    <span class="add-on"><i class="icon-book"></i></span>
              	    <input type="text" name="0@@vip4" chk="vip4" placeholder="{{ _("Virutal IP Address") }}" />
              	  </div>
              	</td>
            	  <td>
            	    <table opt="appPort">
										<tr opt="appPort">
										  <td>
										    <a href="#" class="btn btnAddWzAppPort">{{ _("Add") }}</a>
										  </td>
										  <td>
										    <div class="input-prepend">
										      <span class="add-on"><i class="icon-cog"></i></span>
										      <input type="number" name="0@@port" chk="port" placeholder="{{ _("Application Port") }}" />
										    </div>
										  </td>
									  </tr>
									</table>
              	</td>
              	<td>
              	  <div class="input-prepend">
              	    <span class="add-on"><i class="icon-wrench"></i></span>
              	    <select name="0@@protocol" chk="protocol">
              	      <option value="TCP">{{ _("TCP") }}</option>
              	      <option value="UDP">{{ _("UDP") }}</option>
              	    </select>
              	  </div>
              	</td>
              	<td>
              	  <div class="input-prepend">
              	    <span class="add-on"><i class="icon-repeat"></i></span>
              	    <input type="number" name="0@@persistence" chk="persistence" placeholder="{{ _("Persistence") }}" />
              	  </div>
              	</td>
              	<td>
              	  <table opt="realServer">
                    <tr opt="realServer">
                      <td>
                        <a href="#" class="btn btnAddWzRealServer">{{ _("Add") }}</a>
                      </td>
                      <td>
                        <div class="input-prepend">
                          <span class="add-on"><i class="icon-book"></i></span>
                          <input type="text" name="0@@real_server" chk="real_server" placeholder="{{ _("Real Server ") }}" />
                        </div>
                      </td>
                    </tr>
                  </table>
              	</td>
              </tr>
            </table>
          </fieldset>
        </div>
      </div>
    </div>

    <div class="wzSlb-tpl inactive">
      <table>
      	<tbody class="newWzSLB">
      	  <tr opt="newWzSLB">
            <td>
              <a href="#" class="btn btnDelWzSLB">{{ _("Delete") }}</a>
            </td>
            <td>
              <div class="input-prepend">
                <span class="add-on"><i class="icon-book"></i></span>
                <input type="text" chk="vip4" placeholder="{{ _("Virutal IP Address") }}" />
              </div>
            </td>
            <td>
              <table opt="appPort">
                <tr opt="appPort">
                  <td>
                    <a href="#" class="btn btnAddWzAppPort">{{ _("Add") }}</a>
                  </td>
                  <td>
                    <div class="input-prepend">
                      <span class="add-on"><i class="icon-cog"></i></span>
                      <input type="number" chk="port" placeholder="{{ _("Application Port") }}" />
                    </div>
                  </td>
                </tr>
              </table>
            </td>
            <td>
              <div class="input-prepend">
                <span class="add-on"><i class="icon-wrench"></i></span>
                <select chk="protocol">
                  <option value="TCP">{{ _("TCP") }}</option>
                  <option value="UDP">{{ _("UDP") }}</option>
                </select>
              </div>
            </td>
            <td>
              <div class="input-prepend">
                <span class="add-on"><i class="icon-repeat"></i></span>
                <input type="number" chk="persistence" placeholder="{{ _("Persistence") }}" />
              </div>
            </td>
            <td>
              <table opt="realServer">
                <tr opt="realServer">
                  <td>
                    <a href="#" class="btn btnAddWzRealServer">{{ _("Add") }}</a>
                  </td>
                  <td>
                    <div class="input-prepend">
                      <span class="add-on"><i class="icon-book"></i></span>
                      <input type="text" chk="real_server" placeholder="{{ _("Real Server ") }}" />
                    </div>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
      	</tbody>
      	<tfoot class="newWzSLB">
      	  <tr opt="appPort">
            <td>
              <a href="#" class="btn btnDelWzAppPort">{{ _("Delete") }}</a>
            </td>
            <td>
              <div class="input-prepend">
                <span class="add-on"><i class="icon-cog"></i></span>
                <input type="number" chk="port" placeholder="{{ _("Application Port") }}" />
              </div>
            </td>
          </tr>
      	  <tr opt="realServer">
            <td>
              <a href="#" class="btn btnDelWzRealServer">{{ _("Delete") }}</a>
            </td>
            <td>
              <div class="input-prepend">
                <span class="add-on"><i class="icon-book"></i></span>
                <input type="text" chk="real_server" placeholder="{{ _("Real Server ") }}" />
              </div>
            </td>
          </tr>
      	</tfoot>
      </table>
    </div>