    <div class="wzVRRP padding">
      <div class="row-fluid">
        <div class="span12">
          <fieldset class="form-horizontal">
            <legend clas="text-center">{{ _("VRRP") }}</legend>
            <div class="control-group">
              <label for="wzVRRPEnable" class="control-label strong">{{ _("VRRP") }}</label>
              <div class="controls">
                <input type="checkbox" name="vrrp" id="wzVRRPEnable" value="true" />
              </div>
            </div>
            <div class="control-group">
              <label for="wzVRId" class="control-label strong">{{ _("VRID") }}</label>
              <div class="controls">
                <input type="text" name="virtual-router-id" id="wzVRID" placeholder="{{ _("VRID") }}" />
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </div>