    <div class="wzMode padding">
      <div class="row-fluid">
        <div class="span12">
          <fieldset class="form-horizontal">
            <legend>{{ _('Mode') }}</legend>
            <div class="control-group">
              <label for="wzMode" class="control-label strong">{{ _("Mode") }}</label>
              <div class="controls">
                <select name="mode" id="wzMode">
                  <option value="NAT">{{ _("NAT") }}</option>
                  <option value="Direct Route">{{ _("Direct Route") }}</option>
                </select>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </div>