    <div class="wzS0e1 padding">
      <div class="row-fluid">
        <div class="span12">
          <fieldset class="form-horizontal">
            <legend>{{ _("Fixed IP Address") }}</legend>
            <table class="table table-bordered table-hover">
              <tr>
                <th>
                  <span>{{ _("IPv4 Address") }}</span>
                </th>
                <th>
                  <span>{{ _("Prefix Length") }}</span>
                </th>
                <td>
                  <a href="#" class="btn btnAddIps">{{ _("Add") }}</a>
                </td>
              </tr>
              <tr opt="ipv4_fixed">
                <td>
                  <div class="input-prepend">
                    <span class="add-on"><i class="icon-cog"></i></span>
                    <input type="text" name="s0e1@@ipv4_fixed@@ipv4_address" placeholder="{{ _("IPv4 Address") }}" />
                  </div>
                </td>
                <td>
                  <div class="input-prepend">
                    <span class="add-on"><i class="icon-th-large"></i></span>
                    <input type="text" name="s0e1@@ipv4_fixed@@ipv4_prefix" placeholder="{{ _("Prefix Length") }}" />
                  </div>
                </td>
                <td>
                  <a href="#" class="btn btnDelIps disabled">{{ _("Delete") }}</a>
                </td>
              </tr>
            </table>
            <legend>{{ _("Floating IP Address") }}</legend>
            <table class="table table-bordered table-hover">
              <tr>
                <th>
                  <span>{{ _("IPv4 Address") }}</span>
                </th>
                <th>
                  <span>{{ _("Prefix Length") }}</span>
                </th>
                <td>
                  <a href="#" class="btn btnAddIps">{{ _("Add") }}</a>
                </td>
              </tr>
              <tr opt="ipv4_floating">
                <td>
                  <div class="input-prepend">
                    <span class="add-on"><i class="icon-cog"></i></span>
                    <input type="text" name="s0e1@@ipv4_floating@@ipv4_address" placeholder="{{ _("IPv4 Address") }}" />
                  </div>
                </td>
                <td>
                  <div class="input-prepend">
                    <span class="add-on"><i class="icon-th-large"></i></span>
                    <input type="text" name="s0e1@@ipv4_floating@@ipv4_prefix" placeholder="{{ _("Prefix Length") }}" />
                  </div>
                </td>
                <td>
                  <a href="#" class="btn btnDelIps disabled">{{ _("Delete") }}</a>
                </td>
              </tr>
            </table>
          </fieldset>
        </div>
      </div>
    </div>