    <div class="wzDNS padding">
      <div class="row-fluid">
        <div class="span12">
          <fieldset class="form-horizontal">
            <legend clas="text-center">{{ _('DNS') }}</legend>
            <div class="control-group">
              <label for="wzHostname" class="control-label strong">{{ _("Host Name") }}</label>
              <div class="controls">
                <input type="text" name="hostname" id="wzHostname" placeholder="{{ _("Host Name") }}" />
              </div>
            </div>
            <div class="control-group">
              <label for="wzDomainname" class="control-label strong">{{ _("Domain Name") }}</label>
              <div class="controls">
                <input type="text" name="domain-name" id="wzDomainname" placeholder="{{ _("Domain Name") }}" />
              </div>
            </div>
            <div class="control-group">
              <label for="wzDns1" class="control-label strong">{{ _("DNS Server 1") }}</label>
              <div class="controls">
                <input type="text" name="dns-server-1" id="wzDns1" placeholder="{{ _("DNS Server 1") }}" />
              </div>
            </div>
            <div class="control-group">
              <label for="wzDns2" class="control-label strong">{{ _("DNS Server 2") }}</label>
              <div class="controls">
                <input type="text" name="dns-server-2" id="wzDns2" placeholder="{{ _("DNS Server 2") }}" />
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </div>