<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />

  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
       Remove this if you use the .htaccess -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <title>default</title>
  <meta name="description" content="" />
  <meta name="author" content="Kim Hsiao" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
  <link rel="shortcut icon" href="/image/favicon.ico" type="image/vnd.microsoft.icon" />
  <link rel="stylesheet" href="/css/basic.css" type="text/css" />
  <!--link rel="stylesheet" href="/css/jquery-ui-1.8.20.custom.css" type="text/css" /-->
  <link rel="stylesheet" href="/css/jquery-ui.css" type="text/css">
  <link rel="shortcut icon" href="/image/favicon.ico" type="image/vnd.microsoft.icon" />
  <link rel="stylesheet" href="/css/new_main.css" type="text/css" />
  <!--link rel="stylesheet" href="/css/style.css" type="text/css" /-->
  <link rel="stylesheet" href="/css/bootstrap.css" type="text/css" />
  <link rel="stylesheet" href="/css/bootstrap-responsive.css" type="text/css" />
  <style>
    body {
        color: black;
        font-family: tahoma;
        font-size: 12px;
        font-weight: bold;
        line-height: 23px;
        margin : 0;
    }
    div.head
    {
        text-align: center;
        height: 90px;
    }
    div.IdentityInformation
    {
        text-align: left;
    }
    div.user-op {
        text-align: right;
        padding-right: 20px;
    }
    div.leftMenu {
        text-align: left;
        margin: 0px;
    }
    div.popContent {
        text-align: center;
        border: 1px ridge #000;
        /* css3 round corner of the borader */
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        /* CSS3 Box-shadow code: */
        box-shadow: 3px 3px 10px #a4a4a4;
        -webkit-box-shadow: 3px 3px 10px #a4a4a4;
        -moz-box-shadow: 3px 3px 10px #a4a4a4;
        /* box-shadow for ie6 - ie8 */
        filter: progid:DXImageTransform.Microsoft.DropShadow(OffX=3, OffY=3, Color=#a4a4a4);
        z-index: 1;
        margin: 0 0 0 -60px;
        background: #fff;
        display: none;
        position: relative;
        top: 5px;
        padding: 50px 30px 0px 30px;
        overflow: auto;
    }
    div.footer {
        text-align: center;
        /*
        bottom: 0px;
        position: fixed;
        */
    }
    #menu-template ul {
        list-style-type: none;
        margin-left: 2px;
    }
    #menu-template ul .MainMenu {
        font-size: 14px;
        font-weight: bold;
        padding: 4px 0px 4px 20px;
        border: 1px solid #000;
    }
    #menu-template li {
        list-style: none;
        margin-left: 2px;
        cursor: pointer;
    }
    #menu-template li .SubMenu {
        background: url("/image/S3_arrow_dark.png") no-repeat scroll left center #DCDCDC;
        font-size: 11px;
        font-weight: normal;
        padding: 2px 0px 2px 20px;
        border: 1px solid #000;
    }
    .inactive {
        display: none;
    }
    div.openMenu {
        background: url("/image/S3_arrow_down.png") no-repeat scroll left center transparent;
    }
    div.closeMenu {
        background: url("/image/S3_arrow_right.png") no-repeat scroll left center transparent;
    }
    div.itemHover {
        background: url("/image/S3_arrow_dark.png") no-repeat scroll left center #A9A9A9;
        font-size: 11px;
        font-weight: normal;
        padding: 2px 0px 2px 20px;
        border: 1px solid #000;
        color: #FFF;
    }
    div.selectItem {
        background: url("/image/S3_arrow_dark.png") no-repeat scroll left center #696969;
        font-size: 11px;
        font-weight: normal;
        padding: 2px 0px 2px 20px;
        border: 1px solid #000;
        color: #FFF;
    }
    div.borderArrow {
        background: url("/image/Content/index_10.png") no-repeat scroll center center transparent;
        position: absolute;
        z-index: 1;
        width: 50px;
        height: 34px;
    }
    span.paganation {
        color: gray;
    }
    .boxShadow {
        /* CSS3 Box-shadow code: */
        box-shadow: 3px 3px 10px #a4a4a4;
        -webkit-box-shadow: 3px 3px 10px #a4a4a4;
        -moz-box-shadow: 3px 3px 10px #a4a4a4;
    }
    .clickable {
      cursor: pointer;
    }
    #LogoBarBG1-1 {
      background: url("/image/S3_header_BG1.png") no-repeat scroll left center / contain transparent;
      position: absolute;
      height: 82px;
      left: 10px;
      top: 10px;
      width: 90%;
    }
    #LogoBarBG2-1 {
      background: url("/image/S3_header_BG2.png") no-repeat scroll right center / contain transparent;
      position: absolute;
      height: 82px;
      top: 10px;
      right: 10px;
      width: 90%;
    }
    #AscenLinkLogo-1 {
      background: url("/image/banner.png") no-repeat scroll left center / contain transparent;
      position: absolute;
      height: 82px;
      top: 10px;
      left: 10px;
      width: 90%
    }
    #XteraLogo-1 {
      background: url("/image/S3_Xtera_logo.png") no-repeat scroll right center transparent;
      height: 54px;
      position: absolute;
      right: 35px;
      top: 25px;
      width: 69px;
    }
    span.indecator {
      background: url("/image/S3_arrow_right.png") no-repeat scroll right center transparent;
      height: 12px;
      position: absolute;
      right: 35px;
      top: 25px;
      width: 12px;
    }
    .padding {
      padding: 10px;
    }
    #oApply {
      display: none;
    }
    .text-center {
      text-align: center;
    }
    .text-left {
      text-align: left;
    }
    .text-right {
      text-align: right;
    }
  </style>
  <script type="text/javascript" src="/script/jquery.js"></script>
  <script type="text/javascript" src="/script/underscore.js"></script>
  <script type="text/javascript" src="/script/backbone.js"></script>
</head>

<body>
  <div class="head row-fluid">
      <div class="span12">
          <span class="header-img">
              <span id="LogoBarBG1-1"></span>
              <span id="LogoBarBG2-1"></span>
              <span id="AscenLinkLogo-1"></span>
              <a href="http://www.xtera-ip.com" id="CompanyAnchor-1" target="_blank" title="http://www.xtera-ip.com">
                <span id="XteraLogo-1"></span>
              </a>
          </span>
      </div>
  </div>
  <div class="row-fluid info">
      <div class="span4 header IdentityInformation">
          <span id="IdentityInformation">{{ userinfo.username }}@{{ userinfo.headers['HTTP_X_FORWARDED_FOR']|default(userinfo.headers['Remote-Addr']) }}</span>
          <span id="oLogout">{{ _('Logout')}}</span>
      </div>
      <div class="span6 offset2 header user-op">
          <span id="Paganation">&nbsp;</span>
          <span id="oApply">{{ _('Apply')}}</span>
          <span id="oReload">{{ _('Reload')}}</span>
          <span id="oHelp">{{ _('Help')}}</span>
      </div>
  </div>
  <div class="body container-fluid">
      <div class="span3 leftMenu">
          <!--span>Left Menu</span-->
          <div id="menu-template">
              <!--div class="menu_root MenuBar" /-->
              <ul class="topmenu">
                <li class="boxShadow">
                  <div class="MainMenu closeMenu" opt="System">{{ _('System') }}</div>
                  <ul class="ul_System inactive">
                    <li class="boxShadow">
                      <div class="SubMenu" opt="summary">{{ _('Summary') }}</div>
                    </li>
                    <li class="boxShadow">
                      <div class="SubMenu" opt="dns">{{ _('DNS') }}</div>
                    </li>
                    <li class="boxShadow">
                      <div class="SubMenu" opt="vlan">{{ _('VLAN') }}</div>
                    </li>
                    <li class="boxShadow">
                      <div class="SubMenu" opt="bridge">{{ _('Bridge') }}</div>
                    </li>
                    <li class="boxShadow">
                      <div class="SubMenu" opt="ip">{{ _('IP Address') }}</div>
                    </li>
                    <li class="boxShadow">
                      <div class="SubMenu" opt="route">{{ _('Routing Table') }}</div>
                    </li>
                    <li class="boxShadow">
                      <div class="SubMenu" opt="arp">{{ _('ARP Table') }}</div>
                    </li>
                    <li class="boxShadow">
                      <div class="SubMenu" opt="date">{{ _('Date/Time') }}</div>
                    </li>
                    <li class="boxShadow">
                      <div class="SubMenu" opt="diagnostic">{{ _('Diagnostic Tools') }}</div>
                    </li>
                    <li class="boxShadow">
                      <div class="SubMenu" opt="admin">{{ _('Administration') }}</div>
                    </li>
                  </ul>
                </li>
                <li class="boxShadow">
                  <div class="MainMenu closeMenu" opt="Service">{{ _('Service') }}</div>
                  <ul class="ul_Service inactive">
                    <li class="boxShadow">
                      <div class="SubMenu" opt="snmp">{{ _('SNMP') }}</div>
                    </li>
                    <li class="boxShadow">
                      <div class="SubMenu" opt="email">{{ _('Email') }}</div>
                    </li>
                    <li class="boxShadow">
                      <div class="SubMenu" opt="vrrp">{{ _('VRRPv2') }}</div>
                    </li>
                    <li class="boxShadow">
                      <div class="SubMenu" opt="slb">{{ _('SLB') }}</div>
                    </li>
                    <li class="boxShadow">
                      <div class="SubMenu" opt="nat64">{{ _('NAT64') }}</div>
                    </li>
                  </ul>
                </li>
                <li class="boxShadow">
                  <div class="MainMenu closeMenu" opt="Statistics">{{ _('Statistics') }}</div>
                  <ul class="ul_Statistics inactive">
                    <li class="boxShadow">
                      <div class="SubMenu" opt="counters">{{ _('Counters') }}</div>
                    </li>
                    <li class="boxShadow">
                      <div class="SubMenu" opt="rates">{{ _('Rates') }}</div>
                    </li>
                    <li class="boxShadow">
                      <div class="SubMenu" opt="persistence">{{ _('Rersistence Info') }}</div>
                    </li>
                  </ul>
                </li>
                <li class="boxShadow">
                  <div class="MainMenu closeMenu" opt="Log">{{ _('Log') }}</div>
                  <ul class="ul_Log inactive">
                    <li class="boxShadow">
                      <div class="SubMenu" opt="view">{{ _('View') }}</div>
                    </li>
                    <li class="boxShadow">
                      <div class="SubMenu" opt="syslog">{{ _('Syslog') }}</div>
                    </li>
                  </ul>
                </li>
              </ul>
          </div>
      </div>
      <div class="span9 mainContent">
          <div class="popContent">
              <span>Main Content</span>
          </div>
      </div>
  </div>
  <div class="footer row-fluid  navbar-fixed-bottom hidden-phone">
      <div class="footer span12">
          <span id="PageTailer" />
      </div>
  </div>
  <div class="borderArrow inactive" />
  <script type="text/javascript" src="/script/bb.js" defer></script>
  <script type="text/template" id="t_mainmenu">
    <ul class="topmenu">
      <% _.each(items, function(v, k) { %>
      <li class="boxShadow">
        <div class="MainMenu closeMenu" opt="<%= v.title %>"><%= v.title %></div>
        <ul class="ul_<%= v.title %> inactive">
          <% _.each(v.subitems, function(vv, kk) { %>
          <li class="boxShadow">
            <div class="SubMenu" opt="<%= vv.src %>"><%= vv.title %></div>
          </li>
          <% }); %>
        </ul>
      </li>
      <% }); %>
    </ul>
  </script>
  <script type="text/template" id="t_pagnation">
    <span class="maintitle clickable" opt="<%= opt %>"><%= maintitle %></span>
    <i class="icon-chevron-right"></i>
    <span class="subtitle clickable" opt="<%= opt %>" current="<%= current %>"><%= subtitle %></span>
  </script>
  <script type="text/template" id="t_summary">
    <div class="systemSummary padding">
      <table border="1">
        <% _.each(items, function(v, k) { %>
        <tr>
            <th><%= v.title %></th>
            <td><%= v.value %></td>
        </tr>
        <% }); %>
      </table>
    </div>
  </script>
  <script type="text/template" id="t_summaryPort">
    <div class="systemSummaryPort padding">
      <table border="1">
        <tbody>
          <tr>
              <th rowspan="2">{{ _('Interface') }}</th>
              <th rowspan="2">{{ _('Status') }}</th>
              <th colspan="2">{{ _('Rx (Kbps)') }}</th>
              <th colspan="2">{{ _("TX (Kbps)") }}</th>
          </tr>
          <tr>
              <th>{{ _("Packets") }}</th>
              <th>{{ _("Bytes") }}</th>
              <th>{{ _("Packets") }}</th>
              <th>{{ _("Bytes") }}</th>
          </tr>
          <% _.each(port, function(v, k) { %>
          <tr>
              <th><%= v["interface"] %></th>
              <td><%= v["status"] %></td>
              <td><%= v["RX"]["bytes"] %></td>
              <td><%= v["RX"]["packets"] %></td>
              <td><%= v["TX"]["bytes"] %></td>
              <td><%= v["TX"]["packets"] %></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </script>
  <script type="text/template" id="t_summery_control">
    <div class="systemSummaryTimer control-group">
      <label class="control-label" for="summary_timer">
        <strong>{{ _('Automatic Refresh') }}</strong>
      </label>
      <div class="controls">
        <select name="summary_timer" id="summary_timer">
          <option value="0">{{ _('Disabled') }}</option>
          <option value="3">{{ _('Every 3 Seconds') }}</option>
          <option value="6">{{ _('Every 6 Seconds') }}</option>
          <option value="9">{{ _('Every 9 Seconds') }}</option>
          <option value="15">{{ _('Every 15 Seconds') }}</option>
          <option value="21">{{ _('Every 21 Seconds') }}</option>
          <option value="30">{{ _('Every 30 Seconds') }}</option>
          <option value="39">{{ _('Every 39 Seconds') }}</option>
          <option value="51">{{ _('Every 51 Seconds') }}</option>
          <option value="63">{{ _('Every 63 Seconds') }}</option>
        </select>
      </div>
    </div>
  </script>
  <script type="text/template" id="t_SystemDNS">
    <div class="SystemDNS padding control-group">
      <table border="1">
        <tbody>
            <tr>
              <th>
                <label class="control-label" for="hostname">
                  <strong>{{ _("Host Name") }}</strong>
                </label>
              </th>
              <td>
                <div class="controls">
                  <input type="text" value="<%= items["hostname"] %>" id="hostname" name="hostname" placeholder="{{ _("Host Name") }}" />
                </div>
              </td>
            </tr>
            <tr>
              <th>
                <label class="control-label" for="domain-name">
                  <strong>{{ _("Domain Name") }}</strong>
                </label>
              </th>
              <td>
                <div class="controls">
                  <input type="text" value="<%= items["domain-name"] %>" id="domain-name" name="domain-name" placeholder="{{ _("Domain Name") }}" />
                </div>
              </td>
            </tr>
            <tr>
              <th>
                <label class="control-label" for="dns-server-1">
                  <strong>{{ _("DNS Server 1") }}</strong>
                </label>
              </th>
              <td>
                <div class="controls">
                  <input type="text" value="<%= items["dns-server-1"] %>" id="dns-server-1" name="dns-server-1" placeholder="{{ _("DNS Server 1") }}" />
                </div>
              </td>
            </tr>
            <tr>
              <th>
                <label class="control-label" for="dns-server-2">
                  <strong>{{ _("DNS Server 2") }}</strong>
                </label>
              </th>
              <td>
                <div class="controls">
                  <input type="text" value="<%= items["dns-server-2"] %>" id="dns-server-2" name="dns-server-2" placeholder="{{ _("DNS Server 2") }}" />
                </div>
              </td>
            </tr>
        </tbody>
      </table>
    </div>
  </script>
  <script type="text/template" id="t_SystemVLAN">
    <div class="SystemVLAN padding control-group">
      <table border="1">
        <tr>
            <th>
              {{ _("Interface") }}
            </th>
            <th>
              {{ _("VLAN ID") }}
            </th>
            <td>
              <button type="button" class="btn btnAdd btnVlanAdd">{{ _("Add") }}</button>
            </td>
        </tr>
        <% _.each(vconfig, function(v, k) { %>
        <tr class="item-<%= v.vlan_id %>">
            <td><%= v.interface %><input type="hidden" name="interface" value="<%= v.interface %>" /></td>
            <td><%= v.vlan_id %><input type="hidden" name="vlan_id" value="<%= v.vlan_id %>" /></td>
            <td><button type="button" class="btn btnDel btnVlanDel">{{ _("Delete") }}</button></td>
        </tr>
        <% }); %>
    </table>
    </div>
    <div class="addSysVLAN padding control-group inactive" title="{{ _("Add") }} VLAN">
      <table border="1">
        <tr>
          <th>
            <label class="control-label" for="lan-interface">
              <strong>{{ _("Interface") }}</strong>
            </label>
          </th>
          <td>
            <select name="interface" id="lan-interface">
              <option disabled="disabled">{{ _("Interface") }}</option>
            </select>
          </td>
        </tr>
        <tr>
          <th>
            <label class="control-label" for="lan-vlan_id">
              <strong>{{ _("VLAN ID") }}</strong>
            </label>
          </th>
          <td><input type="number" id="lan-vlan_id" name="vlan_id" placeholder="{{ _("VLAN ID") }}" /></td>
        </tr>
      </table>
    </div>
  </script>
  <script type="text/template" id="t_SystemBridge">
    <div class="SystemBridge padding">
      <table border="1">
            <tr>
                <th>{{ _("Name") }}</th>
                <th>{{ _("Interface") }}</th>
                <td>
                  <button type="button" class="btn brAdd">{{ _("Add") }}</button>
                  <div class="inactive brBtnTpl">
                    <button type="button" class="btn brDel">{{ _("Delete") }}</button>
                    <button type="button" class="btn brEdit">{{ _("Edit") }}</button>
                  </div>
                </td>
            </tr>
            <% _.each(br, function(v, k) { %>
            <tr>
                <td class="brName"><%= v.name %></td>
                <td class="brInterface"><%= v.interface.join() %></td>
                <td>
                  <button type="button" class="btn brDel" opt="<%= k %>">{{ _("Delete") }}</button>
                  <button type="button" class="btn brEdit" opt="<%= k %>">{{ _("Edit") }}</button>
                  <input type="hidden" name="STP" value="<%= v.STP %>" />
                  <input type="hidden" name="name" value="<%= v.name %>" />
                  <input type="hidden" name="hello_time" value="<%= v.hello_time %>" />
                  <input type="hidden" name="interface" value="<%= v.interface.join() %>" />
                  <input type="hidden" name="max_message_age" value="<%= v.max_message_age %>" />
                  <input type="hidden" name="forward_delay" value="<%= v.forward_delay %>" />
                </td>
            </tr>
            <% }); %>
      </table>
    </div>
    <div class="editSystemBridge padding inactive control-group">
      <table border="1">
          <tr>
              <th>{{ _("Name") }}</th>
              <td class="text-center">
                <span class="br_name"></span>
                <input type="hidden" name="name" id="br_name" placeholder="{{ _("Name") }}" />
              </td>
          </tr>
          <tr>
              <td colspan="2">&nbsp;</td>
          </tr>
          <tr>
              <th colspan="2">{{ _("Interface")}}</th>
          </tr>
          <tr class="addBrInterface">
              <th>{{ _("Name") }}</th>
              <td class="text-center">
                <select class="nicSelect"></select>
                <button type="button" class="btn btnAddBrInterface">{{ _("Add") }}</button>
                <input type="hidden" name="interface" id="br-Interface" />
                <span class="inactive brBtnTpl">
                  <button type="button" class="btn btnDelBrInterface">{{ _("Delete") }}</button>
                  <span class="brEnable">{{ _("Enable") }}</span>
                </span>
              </td>
          </tr>
          <tr>
              <td colspan="2">&nbsp;</td>
          </tr>
          <tr>
              <th colspan="2">{{ _("Attributes") }}</th>
          </tr>
          <tr>
              <td>
                <label class="control-label" for="brSTP">
                  {{ _("STP") }}
                </label>
              </td>
              <td class="text-center">
                <label class="control-label">
                  <input type="checkbox" name="STP" id="brSTP" />&nbsp;{{ _("Enable") }}
                </label>
              </td>
          </tr>
          <tr>
              <td>
                <label class="control-label" for="br-hello_time">
                  {{ _("Hello Time") }}
                </label>
              </td>
              <td class="text-center">
                <input type="number" name="hello_time" id="br-hello_time" placeholder="{{ _("Hello Time") }}" />
              </td>
          </tr>
          <tr>
              <td>
                <label class="control-label" for="br-max_message_age">
                  {{ _("Max Message Age") }}
                </label>
              </td>
              <td  class="text-center">
                <input type="number" name="max_message_age" id="br-max_message_age" placeholder="{{ _("Max Message Age") }}" />
              </td>
          </tr>
          <tr>
              <td>
                <label class="control-label" for="br-forward_delay">
                  {{ _("Forward Delay") }}
                </label>
              </td>
              <td class="text-center">
                <input type="number" name="forward_delay" id="br-forward_delay" placeholder="{{ _("Forward Delay") }}" />
              </td>
          </tr>
          <tr>
              <td colspan="2">&nbsp;</td>
          </tr>
      </table>
    </div>
  </script>
  <script type="text/template" id="t_SystemIpAddress">
    <div class="SystemIpAddress padding IpInterfaceSelect control-group">
        <table border="1">
            <tr>
                <th>
                  <label class="control-label" for="ipSelecter">{{ _("Interface") }}</label>
                </th>
                <td>
                  <select class="ipSelInterface" id="ipSelecter">
                    <option disabled="disabled">{{ _("Interface") }}</option>
                  <% _.each(ip, function(v, k) { %>
                    <option value="<%= v["interface"] %>"><%= v["interface"] %></option>
                  <% }); %>
                  </select>
                </td>
            </tr>
        </table>
    </div>
    <div class="SystemIpV46All">
      <% _.each(ip, function(v, k) { %>
        <div class="SystemIpV4 padding<% if(0 !== k) { %> inactive<% } %>" opt="<%= v["interface"] %>">
            <table border="1">
                <tr>
                    <th class="IpV4title">{{ _("IPv4 Address") }}</th>
                    <th>{{ _("Prefix Length") }}</th>
                    <td>
                      <button class="btn btnSI4Add btnIpAdd">{{ _("Add") }}</button>
                    </td>
                </tr>
                <% _.each(v["ipv4"], function(vv, kk) { %>
                <tr>
                    <td>
                      <%= vv["ipv4_address"] %>
                    </td>
                    <td>
                      <%= vv["ipv4_prefix"] %>
                    </td>
                    <td>
                      <button class="btn btnSI4Delete btnIpDel">{{ _("Delete") }}</button>
                      <input type="hidden" name="<%= v["interface"] %>-ipv4_address" value="<%= vv['ipv4_address'] %>" />
                      <input type="hidden" name="<%= v["interface"] %>-ipv4_prefix" value="<%= vv['ipv4_prefix'] %>" />
                    </td>
                </tr>
                <% }); %>
            </table>
        </div>
        <div class="SystemIpV6 padding<% if(0 !== k) { %> inactive<% } %>" opt="<%= v["interface"] %>">
            <table border="1">
                <tr>
                    <th class="IpV6title">{{ _("IPv6 Address") }}</th>
                    <th>{{ _("Prefix Length") }}</th>
                    <td>
                      <button class="btn btnSI6Add btnIpAdd">{{ _("Add") }}</button>
                    </td>
                </tr>
                <% _.each(v["ipv6"], function(vv, kk) { %>
                <tr>
                    <td>
                      <%= vv["ipv6_address"] %>
                    </td>
                    <td>
                      <%= vv["ipv6_prefix"] %>
                    </td>
                    <td>
                      <button class="btn btnSI6Delete btnIpDel">{{ _("Delete") }}</button>
                      <input type="hidden" name="<%= v["interface"] %>-ipv6_address" value="<%= vv['ipv6_address'] %>" />
                      <input type="hidden" name="<%= v["interface"] %>-ipv6_prefix" value="<%= vv['ipv6_prefix'] %>" />
                    </td>
                </tr>
                <% }); %>
            </table>
        </div>
      <% }); %>
    </div>
    <div class="IpEditor inactive control-group">
        <table border="1">
            <tr>
                <th class="IpV4orV6">
                  <label class="control-label" for="IpV46_address"></label>
                </th>
                <td class="text-center">
                  <input type="text" id="IpV46_address" />
                </td>
            </tr>
            <tr>
                <th>
                  <label class="control-label" for="IpV46_prefix">{{ _("Prefix Length") }}</label>
                </th>
                <td class="text-center">
                  <input type="text" id="IpV46_prefix" />
                  <span class="ipv46Tpl inactive">
                    <button class="btn btnSI6Delete btnIpDel">{{ _("Delete") }}</button>
                  </span>
                </td>
            </tr>
        </table>
    </div>
  </script>
  <script type="text/template" id="t_SystemRoutingTable">
    <div class="SystemRoutingTable padding">
      <ul class="nav nav-tabs nav-rt">
        <li class="active">
          <a href="#" opt="ipv4">{{ _("IPv4 Routing Table") }}</a>
        </li>
        <li>
          <a href="#" opt="ipv6">{{ _("IPv6 Routing Table") }}</a>
        </li>
      </ul>
      <% _.each(items[1], function(v, k) { %>
      <div class="SystemRoutingTable-rt SystemRoutingTable-<%= k %> padding<% if(k !== 'ipv4') { %> inactive<% } %>">
        <table border="1">
          <tr>
            <th>{{ _("Destination") }}</th>
            <th>{{ _("Prefix Length") }}</th>
            <th>{{ _("Gateway") }}</th>
            <th>{{ _("Interface") }}</th>
            <td>
              <button class="btn btnRTAdd" opt="<%= k %>">{{ _("Add") }}</button>
            </td>
          </tr>
          <% if(items[1][k].length) { %>
            <% for(var kk = 0; kk < v.length; kk++) { %>
          <tr>
            <td><%= v[kk]["destination"] %></td>
            <td><%= v[kk]["prefix"] %></td>
            <td><%= v[kk]["gateway"] %></td>
            <td><%= v[kk]["interface"] %></td>
            <td>
              <button class="btn btnRTDel">{{ _("Delete") }}</button>
              <input type="hidden" name="<%= k %>-destination" value="<%= v[kk]["destination"] %>" />
              <input type="hidden" name="<%= k %>-prefix" value="<%= v[kk]["prefix"] %>" />
              <input type="hidden" name="<%= k %>-gateway" value="<%= v[kk]["gateway"] %>" />
              <input type="hidden" name="<%= k %>-interface" value="<%= v[kk]["interface"] %>" />
            </td>
          </tr>
            <% } %>
          <% } %>
        </table>
      </div>
      <% }); %>
    </div>
    <div class="SystemRoutingTable-edit padding control-group inactive">
      <table border="1">
        <tr>
          <th>
            <label class="control-label" for="rtIpv46Dest">{{ _("Destination") }}</label>
          </th>
          <td class="text-center">
            <input type="text" id="rtIpv46Dest" placeholder="{{ _("Destination") }}" opt="destination" />
          </td>
        </tr>
        <tr>
          <th>
            <label class="control-label" for="rtIpv46PreL">{{ _("Prefix Length") }}</label>
          </th>
          <td class="text-center">
            <input type="number" id="rtIpv46PreL" placeholder="{{ _("Prefix Length") }}" opt="prefix" />
          </td>
        </tr>
        <tr>
          <th>
            <label class="control-label" for="rtIpv46GW">{{ _("Gateway") }}</label>
          </th>
          <td class="text-center">
            <input type="text" id="rtIpv46GW" placeholder="{{ _("Gateway") }}" opt="gateway" />
          </td>
        </tr>
        <tr>
          <th>
            <label class="control-label" for="rtIpv46Intf">{{ _("Interface") }}</label>
          </th>
          <td class="text-center">
            <select id="rtIpv46Intf" opt="interface">
              <option disabled="disabled">{{ _("Interface") }}</option>
              <option value="">{{ _("auto") }}</option>
            </select>
            <span class="inactive rtv46tpl">
              <button class="btn btnRTDel">{{ _("Delete") }}</button>
            </span>
          </td>
        </tr>
      </table>
    </div>
  </script>
</body>
</html>
